<html lang="en">
{% load static %}

    <head>

        <!-- https://docs.mapbox.com/help/tutorials/show-changes-over-time/ -->
        <!-- https://docs.mapbox.com/mapbox-gl-js/api/map/#map -->

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="57x57" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="apple-touch-icon" sizes="60x60" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="apple-touch-icon" sizes="72x72" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="apple-touch-icon" sizes="76x76" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="apple-touch-icon" sizes="114x114" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="apple-touch-icon" sizes="120x120" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="apple-touch-icon" sizes="144x144" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="apple-touch-icon" sizes="152x152" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="icon" type="image/png" sizes="192x192" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="icon" type="image/png" sizes="32x32" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="icon" type="image/png" sizes="96x96" href="https://www.svgrepo.com/show/76153/sailboat.svg">
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.svgrepo.com/show/76153/sailboat.svg">
    
        <title>{{ item.title }}</title>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css">

        <link rel="stylesheet" type="text/css" href="{% static 'maps/styles/yahad.css' %}">

    </head>


    <body>

        <div id='map'></div>
        <div id='console' style="overflow-y: scroll !important; height: 92% !important; background-color: #214561 !important;">

            
            {% if item.map_image %}
                {% if item.map_image.url %}
                    <img src="{{ item.map_image.url }}" alt="" style="width: 100%; height: auto;">
                {% endif %}
            {% endif %}

            <div class="text-center mt-4">
                <h1 id="console-header">{{ item.title }}</h1>
            </div>

            <div class="" style="text-align: justify; text-justify: auto; font-size: 11px;">
                {{ item.description|safe }}
            </div>  
            
            
            <hr>


            <!--<div class='session' id='victims-colors'>
                <h2>Victims</h2>
                <div class="container">
                    <div class='row colors' style="width: 110%; margin-right: 0!important; padding-right: 0!important;" id='colors'>
                    </div>
                </div>
                <div class='row labels'>
                    <div class='label'>0-100</div>
                    <div class='label'>100-200</div>
                    <div class='label'>201-500</div>
                    <div class='label'>501-1000</div>
                    <div class='label'>1001+</div>
                    <div class='label'>10001+</div>
                </div>
            </div>-->

            <div class="session">
                <p><small class="">Hover over a circle to see data on an event below, or click on the circle to view all available details.</small></p>
                <small class=""><strong>Event data:</strong></small>

                <div class="py-2"></div>

                <div id="event-geographic-data">
                    <table class="table table-dark table-striped">
                        <tbody>
                            <tr>
                                <td><strong><small>City:</small></strong></td>
                                <td><small></small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Region:</small></strong></td>
                                <td><small></small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Country:</small></strong></td>
                                <td><small></small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <div class="session">
                <p><small class="">Click anywhere on the map to see its location data.</small></p>
                <small class=""><strong>My cursor's location data:</strong></small>

                <div class="py-2"></div>

                <div id="place-data">
                <table class="table table-dark table-striped">
                    <tbody>
                        <tr>
                            <td><strong><small>Longitude:</small></strong></td>
                            <td><small>...</small></td>
                        </tr>
                        <tr>
                            <td><strong><small>Latitude:</small></strong></td>
                            <td><small>...</small></td>
                        </tr>
                    <tr>
                        <td><strong><small>Place:</small></strong></td>
                        <td><small>...</small></td>
                    </tr>
                    <tr>
                        <td><strong><small>Address:</small></strong></td>
                        <td><small>...</small></td>
                    </tr>
                    <tr>
                        <td><strong><small>Neighborhood:</small></strong></td>
                        <td><small>...</small></td>
                    </tr>
                    <tr>
                        <td><strong><small>Postcode:</small></strong></td>
                        <td><small>...</small></td>
                    </tr>
                    <tr>
                        <td><strong><small>Region:</small></strong></td>
                        <td><small>...</small></td>
                    </tr>
                    <tr>
                        <td><strong><small>Country:</small></strong></td>
                        <td><small>...</small></td>
                    </tr>
                    </tbody>
                </table>
            
                </div>
            </div>

            <hr>

            <small class=""><strong>Timeline</strong></small>

            {% comment %} <div class='session w-100' id='sliderbar'>
                <small class=""><strong>Hour: </strong><label id='active-hour'>12PM</label></small>
                <input id='slider' type="range" class="form-range" min='0' max='23' step='1' value='12'>
            </div> {% endcomment %}

            <div class='session w-100' id='date-sliderbar'>
                <small class=""><strong>Date: </strong><label id='active-date'></label></small>
                <input id='date-slider' type="range" class="form-range" min='0' max='' step='1' value='0'>
            </div>

            <hr>

            <small class=""><strong>Search events by city</strong></small>

            <div class="session">
                <input type="text" class="text-input" id="city-query-input" name="city" placeholder="Enter location">
                <button class="btn btn-sm btn-primary w-100 mt-2" id="search-city-btn">Search</button>
                <div id="results"></div>
            </div>

            <div class='session'>
                <label for="date-val"><small class=""><strong>Date: </strong></small></label>
                <input type="date" id="date-val"
                value=""
                min="1939-09-01" max="1945-09-02">
            </div>

            {% comment %} <div class='session'>
                <label for="start-date">Start date</label>
                <input type="date" id="start-date"
                value=""
                min="1939-09-01" max="1945-09-02">
            </div>
            <div class='session'>
                <label for="end-date">End date</label>
                <input type="date" id="end-date"
                value=""
                min="1939-09-01" max="1945-09-02">
            </div>  {% endcomment %}

            <div class='session'>
                <select class="form-select form-select-sm" aria-label="Default select example" id="countries">
                    <option selected disabled>Country</option>
                    <option value="all">All</option>
                    <option value="ukraine">Ukraine</option>
                    <option value="belarus">Belarus</option>
                    <option value="romania">Romania</option>
                </select>

            </div>

            {% comment %} <div class='session'>
                <select class="form-select form-select-sm" aria-label="Default select example" id="days">
                    <option selected disabled>Day of the week</option>
                    <option value="all">All</option>
                    <option value="weekday">Weekday</option>
                    <option value="weekend">Weekend</option>
                    <option value="Mon">Monday</option>
                    <option value="Tue">Tuesday</option>
                    <option value="Wed">Wednesday</option>
                    <option value="Thu">Thursday</option>
                    <option value="Fri">Friday</option>
                    <option value="Sat">Saturday</option>
                    <option value="Sun">Sunday</option>
                </select>
            </div> {% endcomment %}

            <button class="btn btn-sm btn-primary w-100 mt-2" id="filter-btn">Filter</button>

            <hr>

            <button class="btn btn-sm btn-primary w-100 mt-2" id="reset-all-filters-btn">Reset all filters</button>

            <hr>

            <small class=""><strong>Settings</strong></small>

            <div class="py-2"></div>

            <div class='session'>
                <select class="form-select form-select-sm" aria-label="Default select example" id="languages">
                    <option selected disabled>Language</option>
                    <option value="en">English (Default)</option>
                    <option value="it">Italian</option>
                    <option value="de">German</option>
                    <option value="fr">French</option>
                    <option value="ru">Russian</option>
                    <option value="es">Spanish</option>
                </select>
            </div>

            <div class='session'>
                <!-- See a list of Mapbox-hosted public styles at -->
                <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles OR https://docs.mapbox.com/api/maps/styles/ -->
                <select class="form-select form-select-sm" aria-label="Default select example" id="styles">
                    <option selected disabled>Map style</option>
                    <option value="light-v10">Light (Default)</option>
                    <option value="satellite-v9">Satellite</option>
                    <option value="dark-v10">Dark</option>
                    <option value="streets-v11">Streets</option>
                    <option value="outdoors-v11">Outdoors</option>
                    <option value="satellite-streets-v11">Satellite Streets</option>
                    <option value="navigation-day-v1">Navigation Day</option>
                    <option value="navigation-night-v1">Navigation Night</option>
                </select>
            </div>

            <hr>

            <small class=""><strong>Details</strong></small>

            <div class="py-2"></div>

            <div class="session" id="place-data">
                <table class="table table-dark table-striped">
                    <tbody>
                        <tr>
                            <td><strong><small>Total number of documented execution sites:</small></strong></td>
                            <td><small>1911</small></td>
                        </tr>
                        <tr>
                            <td><strong><small>Sites available for consultation:</small></strong></td>
                            <td><small>1135</small></td>
                        </tr>
                    </tbody>
                </table>

                <img src="https://www.svgrepo.com/show/407314/red-circle.svg" alt="" width="10" height="10"> <small class="">Execution sites of victims online</small>
                <br>
                <img src="https://www.svgrepo.com/show/404854/blue-circle.svg" alt="" width="10" height="10"> <small class="">Execution sites of victims soon online</small>
            </div>

            <div class="py-2">
                <img src="{% static 'maps/yiu.png' %}" alt="" style="width: 100%; height: auto;">

                {% comment %} <img src="https://pershingsquarefoundation.org/wp-content/uploads/2016/10/Yahad-In-Unum.jpg" alt="" style="width: 100%; height: auto;"> {% endcomment %}
            </div>
            

        </div>

        <script src="{% static 'maps/scripts/get_access_token.js' %}"></script>
        <script src="{% static 'maps/scripts/geocoder.js' %}"></script>
        <script src="{% static 'maps/scripts/reverse_geocoder.js' %}"></script>
        <script src="{% static 'maps/scripts/geocoder_search.js' %}"></script>
        <script src="{% static 'maps/scripts/get_long_and_lat.js' %}"></script>
        <script src="{% static 'maps/scripts/get_click_loc.js' %}"></script>
        <script src="{% static 'maps/scripts/set_language.js' %}"></script>
        <script src="{% static 'maps/scripts/country_filter.js' %}"></script>
        <script src="{% static 'maps/scripts/day_filter.js' %}"></script>

        <!-- Load the `mapbox-gl-geocoder` plugin. -->
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>

        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

        <!-- moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>

        


        <script type="text/javascript">   
        

            // https://www.w3schools.com/jsref/jsref_obj_date.asp // DATES

            mapboxgl.accessToken = getMapboxAccessToken(); 'pk.eyJ1IjoiYm1sNzQiLCJhIjoiY2t6cmN5djB2NnJuMjJzdHZhYmRoeTltNCJ9.AW3ZM0ZGP8tXwWDbri969Q';

            const map = new mapboxgl.Map({
            container: 'map', // container element id
            style: 'mapbox://styles/mapbox/light-v10', // Initial map center in [lon, lat]
            center: [30.4492, 50.4713],
            zoom: 4,
            minZoom: 2,
            renderWorldCopies: false
            });

            let default_filters = {
                // DEFAULT FILTERS:
                "type": "all",
                "day": ['!=', ['string', ['get', 'day']], 'placeholder'], // ANY DAY [i.e., all days] 
                "country": ['!=', ['string', ['get', 'primary_country_name']], 'placeholder'] // Any country
                // "date": filterDay = ['!=', ['string', ['get', 'dates']], 'placeholder'], // ANY DAY [i.e., all days] 
            };

            function convertHyphenatedDateToMomentJSDate(hyphenated_date) {
                let date_split = hyphenated_date.split("-");
                let yyyy = parseInt(date_split[0]); 
                let mm = parseInt(date_split[1]) - 1; // Moment.js convention to subtract 1 because January is 0, so the months are 0 to 11.
                let dd = parseInt(date_split[2]);
                momentjs_date = moment([yyyy, mm, dd]);
                return momentjs_date;
            }

            let string_anchor_date = "{{ anchor_date|safe }}";
            let beginning_anchor_date = convertHyphenatedDateToMomentJSDate(string_anchor_date);

            let string_end_date = "{{ last_date|safe }}";
            let end_anchor_date = convertHyphenatedDateToMomentJSDate(string_end_date);

            dateVal = document.getElementById("date-val");
            dateVal.setAttribute("min", string_anchor_date);
            dateVal.setAttribute("max", string_end_date);

            document.getElementById('active-date').innerText = beginning_anchor_date.format('LL'); // let beginning_anchor_date = moment([1939, 08, 01]); 

            let num_days_between_start_and_end = parseInt(Math.abs(moment.duration(beginning_anchor_date.diff(end_anchor_date)).asDays()));;
            document.getElementById("date-slider").setAttribute("max", num_days_between_start_and_end);


            function addLayer(my_filter) {

                // Filters to determine number of casualties. For example, mag1 filter checks if Casualties are under 5.
                const mag1 = ['<', ['get', 'number_of_casualties'], 5];
                const mag2 = ['all', ['>=', ['get', 'number_of_casualties'], 5], ['<', ['get', 'number_of_casualties'], 20]];
                const mag3 = ['all', ['>=', ['get', 'number_of_casualties'], 20], ['<', ['get', 'number_of_casualties'], 100]];
                const mag4 = ['all', ['>=', ['get', 'number_of_casualties'], 100], ['<', ['get', 'number_of_casualties'], 500]];
                const mag5 = ['>=', ['get', 'number_of_casualties'], 500];

                const MAP_ID = "{{ item.id }}";

                map.addLayer({
                    id: 'collisions',
                    type: 'circle',
                    source: {
                        type: 'geojson',
                        data: `/maps/geojson/${MAP_ID}/` // "{% static 'maps/yahad_new.geojson'|safe %}" // Data source
                },

                //'https://rwbruno.s3.amazonaws.com/map_excel_files/yahad.geojson' // "{% static 'maps/yahad.geojson'|safe %}"// "{{ item.excel_upload.url|safe }}" // "{% static 'maps/yahad.geojson'|safe %}" // Data source 


                // // '/maps/31/geojson/' // Data source "{% static 'maps/yahad.geojson'|safe %}"

                paint: {

                    "circle-radius": [
                        'case', 
                        mag1, 4,
                        mag2, 6,
                        mag3, 8,
                        mag4, 10,
                        12 // Other (like an "else" statement)
                        ],


                    'circle-color': [ // IF DATA AVAILABLE
                    'match',
                    ['get', 'content_online'],
                    "yes", '#EC0C0C', // If content is online (i.e., if Yahad Map dot is red)
                    "no", '#0CC2EC', // If content is not yet available online (i.e., if Yahad Map dot is red)
                    'black'
                    ],
                    'circle-opacity': 0.8
                },
                filter: [
                    my_filter.type, 
                    my_filter.day,
                    my_filter.country
                ] 

                
                });
            };


            // When style is loaded, load default filter (which is 'all' events)
            map.on('style.load', () => {addLayer(default_filters); document.getElementById('filter-btn').click(); });


            // Change map style when user wants
            let layerList = document.getElementById('styles');
            layerList.addEventListener('change', (event) => {
                
                const map_style = event.target.value;
                map.setStyle('mapbox://styles/mapbox/' + map_style);
            });


            // Day slider
            document.getElementById('date-slider').addEventListener('input', (event) => {
                const days_since_beginning_anchor_date = parseInt(event.target.value);

                let new_date = moment(beginning_anchor_date, "YYYY-MM-DD").add(days_since_beginning_anchor_date, 'days');

                console.log(days_since_beginning_anchor_date);
                console.log(new_date);
    
                var dateString = new_date.format('YYYY-MM-DD');
                console.log(dateString); // Output: 2020-07-21

                console.log(dateString);

                all_filters = ['all'];
                selectedDateGreaterThanOrEqualToStart = [">=", ["number", days_since_beginning_anchor_date], ["number", ["get", "number_of_days_after_anchor_date_that_event_began"]]]
                selectedDateLessThanOrEqualToEnd = ["<=", ["number", days_since_beginning_anchor_date], ["number", ["get", "number_of_days_after_anchor_date_that_event_ended"]]]
                all_filters.push(selectedDateGreaterThanOrEqualToStart);
                all_filters.push(selectedDateLessThanOrEqualToEnd);
                map.setFilter('collisions', all_filters); 
                //map.setFilter('collisions', ['==', ['number', ['get', 'hours']], hour]);
                //filterDate = ['match', ['get', 'Date'], [dateString], true, false];
                /*filterDate = ['in', dateString, ['get', 'dates']]
                map.setFilter('collisions', filterDate);*/

                // update text in the UI
                document.getElementById('active-date').innerText = new_date.format('LL');

            }); 


            document.getElementById("reset-all-filters-btn").addEventListener('click', (event) => {
                // This makes it easy: All you have to do is specify one filter that represents all features, and it resets.
                map.setFilter('collisions', ['!=', ['string', ['get', 'day']], 'placeholder']);
                // Then just reset the values:
                document.getElementById("city-query-input").value = "";
                document.getElementById("date-slider").value = 0;
                document.getElementById('active-date').innerText = beginning_anchor_date.format('LL');
                document.getElementById("countries").value = "all";
                document.getElementById("days").value = "all";
                document.getElementById("date-val").value = "";
            }); 
            

            document.getElementById("search-city-btn").addEventListener('click', (event) => {
                let query = document.getElementById("city-query-input").value.toLowerCase();
                filterCity = ['match', ['get', 'primary_city_name'], [query], true, false];
                map.setFilter('collisions', ['all', filterCity]);
                console.log(filterCity);
            });

            document.getElementById("filter-btn").addEventListener('click', (e) => {

                let country = document.getElementById("countries").value;
                filterCountry = getCountryFile(country);

                all_filters = ['all', filterCountry];

                // // TO ADD THE DAY FILTER:
                // let day = document.getElementById("days").value;
                // filterDay = getDayFilter(day);

                // all_filters = ['all', filterCountry, filterDay];

                date_val = document.getElementById("date-val").value;
                if (date_val != "" && date_val) {

 
                    
                    days_since_wwii_began = parseInt(Math.abs(moment.duration(beginning_anchor_date.diff(date_val)).asDays()));

                    selectedDateGreaterThanOrEqualToStart = [">=", ["number", days_since_wwii_began], ["number", ["get", "number_of_days_after_anchor_date_that_event_began"]]]
                    selectedDateLessThanOrEqualToEnd = ["<=", ["number", days_since_wwii_began], ["number", ["get", "number_of_days_after_anchor_date_that_event_ended"]]]
                    all_filters.push(selectedDateGreaterThanOrEqualToStart);
                    all_filters.push(selectedDateLessThanOrEqualToEnd);

                } 

                map.setFilter('collisions', all_filters);

                // Change language as well:
                let language = document.getElementById('languages').value;
                map.setLayoutProperty('country-label', 'text-field', [
                    'get',
                    `name_${language}`
                ]);

            });       






            map.on('click', function (e) {
                getClickLocation(e); // Get click position and log.
                coords = getLongitudeAndLatitude(e); // Get longitude and latitude. Returns array in form [lng, lat]
                lng = coords[0]; lat = coords[1]; 
                console.log(`Longitude: ${lng} | Latitude: ${lat}`)
                url = "https://api.mapbox.com/geocoding/v5/mapbox.places/" + lng + "%2C%20" + lat + ".json?access_token=" + mapboxgl.accessToken;
                fetch(url)
                .then(response => response.json())
                .then(function (data) {
                    loc_data = new Object();
                    for (feature of data.features) {
                        loc_data[feature.place_type[0].toLowerCase()] = feature.place_name;
                    };
                    console.log(loc_data);

                    document.getElementById("place-data").innerHTML = `

                        <table class="table table-dark table-striped">
                            <tbody>
                                <tr>
                                    <td><strong><small>Longitude:</small></strong></td>
                                    <td><small>${lng.toFixed(4)}</small></td>
                                </tr>
                                <tr>
                                    <td><strong><small>Latitude:</small></strong></td>
                                    <td><small>${lat.toFixed(4)}</small></td>
                                </tr>
                            <tr>
                                <td><strong><small>Place:</small></strong></td>
                                <td><small>${loc_data.place}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Address:</small></strong></td>
                                <td><small>${loc_data.address}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Neighborhood:</small></strong></td>
                                <td><small>${loc_data.neighborhood}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Postcode:</small></strong></td>
                                <td><small>${loc_data.postcode}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Region:</small></strong></td>
                                <td><small>${loc_data.primary_region_name}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Country:</small></strong></td>
                                <td><small>${loc_data.primary_country_name}</small></td>
                            </tr>
                            </tbody>
                        </table>
                    
                    `;

                    
            
                    
            
            
                });

            }); 


            map.on('click', 'collisions', (e) => {
                // Center on feature (https://docs.mapbox.com/mapbox-gl-js/example/center-on-feature/)
                map.flyTo({
                    center: e.features[0].geometry.coordinates
                });
            }); 


            // POPUPS:
            const popup = new mapboxgl.Popup({
                closeButton: true,
                closeOnClick: true
            }); 
            
            // When hovering over a feature....
            map.on('mouseenter', 'collisions', (e) => {
                
                // 1. WORK WITH TABLE

                // Change the cursor to a pointer when the it enters a feature in the 'circle' layer.
                map.getCanvas().style.cursor = 'pointer';


                div = document.getElementById("event-geographic-data");
                div.innerHTML = `
                    <table class="table table-dark table-striped">
                        <tbody>
                            <tr>
                                <td><strong><small>City:</small></strong></td>
                                <td><small>${e.features[0].properties.primary_city_name.toUpperCase()}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Region:</small></strong></td>
                                <td><small>${e.features[0].properties.primary_region_name.toUpperCase()}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Country:</small></strong></td>
                                <td><small>${e.features[0].properties.primary_country_name.toUpperCase()}</small></td>
                            </tr>
                        </tbody>
                    </table>
                `;


                



                // 2. POPUPS
        
                // Copy coordinates array.
                let coordinates = e.features[0].geometry.coordinates.slice();

                let number_of_days_after_anchor_date_that_event_began = e.features[0].properties.number_of_days_after_anchor_date_that_event_began;
                let number_of_days_after_anchor_date_that_event_ended = e.features[0].properties.number_of_days_after_anchor_date_that_event_ended;
                
                string_anchor_date = "{{ anchor_date|safe }}";
                let startAnchor = convertHyphenatedDateToMomentJSDate(string_anchor_date);

                string_anchor_date = "{{ anchor_date|safe }}";
                let endAnchor = convertHyphenatedDateToMomentJSDate(string_anchor_date);

                let startDate = startAnchor.add(parseInt(number_of_days_after_anchor_date_that_event_began), 'days').format('DD MMMM YYYY');
                let endDate = endAnchor.add(parseInt(number_of_days_after_anchor_date_that_event_ended), 'days').format('DD MMMM YYYY');
                console.log("Start Date: ");
                console.log(startDate);
                console.log("End Date: ");
                console.log(endDate);

                let event_id = parseInt(e.features[0].properties.id);
                console.log("event_id", event_id);

                let description = `
                    <div id="popup-title" class="">${e.features[0].properties.primary_city_name.toUpperCase()}</div>
                    <a type="button" class="btn btn-primary btn-sm mt-2 mb-4" href="/maps/in/detail/event/${event_id}/">View in detail&rarr;</a>
                    <table class="table table-dark table-striped">
                        <tbody>
                            <tr>
                                <td><strong><small>City:</small></strong></td>
                                <td><small>${e.features[0].properties.primary_city_name.toUpperCase()}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Region:</small></strong></td>
                                <td><small>${e.features[0].properties.primary_region_name.toUpperCase()}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Country:</small></strong></td>
                                <td><small>${e.features[0].properties.primary_country_name.toUpperCase()}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Start Date:</small></strong></td>
                                <td><small>${startDate}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>End Date:</small></strong></td>
                                <td><small>${endDate}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Execution sites:</small></strong></td>
                                <td><small>${e.features[0].properties.number_of_sites}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Victims:</small></strong></td>
                                <td><small>${e.features[0].properties.number_of_casualties}</small></td>
                            </tr>
                            <tr>
                                <td><strong><small>Details Available:</small></strong></td>
                                <td><small id="content-available-popup"></small></td> 
                            </tr>
                        </tbody>
                    </table>

                    <br>

                    Description: ${e.features[0].properties.description}
                `; 
                
                
                    
                // Ensure that if the map is zoomed out such that multiple
                // copies of the feature are visible, the popup appears
                // over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }
                                
                // Populate the popup and set its coordinates
                // based on the feature found.
                popup.setLngLat(coordinates).setHTML(description).addTo(map);

                document.getElementById("content-available-popup").innerHTML = (e.features[0].properties.content_online == 1) ? "Yes" : "No"; // Set whether details are available in popup

                            
            }); 
            
            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'collisions', () => {
                map.getCanvas().style.cursor = '';
            });

            geocoder_search_engine();    

        </script>

        



    </body>
</html>




