{% extends 'ecoles/base_ecoles.html' %}
{% load static %}

{% block title %}Delete {{ obj_type }}? | HoyaPlus{% endblock title %}

{% block main_content_container %}

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            <h1 class="fw-bold">Delete this {{ obj_type }}?</h1>
                            <p class="lead">Deleting the {{ obj_type }} {{ item }} right now will permanently erase it from our systems.</p>
                            <form method="POST">
                                {% csrf_token %}
                                <button class="btn btn-lg btn-danger mb-2" href="#" role="button" type="submit"><i class="fas fa-minus-circle"></i> Yes, Delete</button>
                            </form>

                        </div>
                    </div> 
                </div>



{% endblock main_content_container %}