{% extends 'ecoles/base_ecoles.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block title %}{{ header }} | Hoyabay&trade;{% endblock title %}

{% block css_links %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
{% endblock css_links %}

{% block main_content_container %}


                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            <h1 class="fw-bold">{{ header }}</h1>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ header }}</legend>
            {% csrf_token %}{{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="w-100 btn btn-lg btn-outline-navy mt-3" type="submit" id="create-or-update">Save</button>
        </div>
    </form>
    
    </div>
  </div>

</div>                  
                          
                </div>
              



{% endblock main_content_container %}

{% block JavaScript %}
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>

    window.onload = function() {
        var newNode = document.createElement('div');
        newNode.id = 'quill_editor'; // editor-container
        var newInputNode = document.createElement('div');
        newInputNode.setAttribute("type", "hidden");
        newInputNode.setAttribute("name", "description");
        newInputNode.id = 'quill_descr';


        // Get the reference node
        var referenceNode = document.querySelector('#id_description.textarea.form-control'); // Description textarea

        // Insert the new node before the reference node
        referenceNode.after(newNode); 

        newNode.after(newInputNode);


        
        let toolbarOptions = [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['link', 'image'],
        ['blockquote', 'code-block'],
        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent                                       // remove formatting button
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],
        ];

    let quill = new Quill('#quill_editor', {
    modules: {
      toolbar: toolbarOptions
    },
    placeholder: 'Compose an epic...',
    theme: 'snow'
    });
  
    txt = document.getElementById("id_description").value;
    console.log(txt);
    document.getElementById("id_description").style.display = 'none';
    document.querySelector(".ql-editor").innerHTML = txt;

    btn = document.getElementById("create-or-update");
    btn.addEventListener('mouseover', (event) => {
        console.log(quill.root.innerHTML);
        let descr = document.querySelector('#id_description[name=description]');
        descr.value = quill.root.innerHTML;
    });
  




    };

</script>




<script>




    const page_url = window.location.href;
    if (page_url.includes("/assignments/new") || page_url.includes("/assignments/update")) {

        assignment_type_element = document.getElementById("id_assignment_type");

        assignment_type_element.options[0].disabled = true;

        assignment_type = assignment_type_element.value;

        console.log(assignment_type);

        assignment_type_element.onchange = handleChange; 

        assignment_type_fields = ['text', 'internal_link', 'external_reading_link', 'external_link', 'iframe_link', 'youtube_video_link', 'youtube_video_transcript_id', 'corsican_bible_chapter', 'article_by_url', 'article_id'];
        assignment_type_names = [];
        assignment_type_ids = [];
        assignment_type_label_ids = [];
        for (field of assignment_type_fields) {
            num_underscores = (field.split("_").length - 1);
            arr = field.split("_");
            words = [];
            for (word of arr) {
                words.push(word.charAt(0).toUpperCase() + word.slice(1));
            }
            name = words.join(' ');
            assignment_type_names.push(name);
            assignment_type_ids.push(`id_${field}`);
            assignment_type_label_ids.push(`div_id_${field}`);
        }
        console.log(assignment_type_names);
        console.log(assignment_type_ids);
        console.log(assignment_type_label_ids);

        /*assignment_type_element.addEventListener('change', () => {
            console.log(assignment_type_element.value);
        })*/
        
        for (id of assignment_type_ids) { // All assignment type IDs will have display none
            document.getElementById(id).style.display = "none";
        }
        for (id of assignment_type_label_ids) { // All assignment type IDs will have display none
            document.getElementById(id).style.display = "none";
        }

        function handleChange(e) {

            for (id of assignment_type_ids) { // All assignment type IDs will have display none
                document.getElementById(id).style.display = "none";
            }
            for (id of assignment_type_label_ids) { // All assignment type IDs will have display none
                document.getElementById(id).style.display = "none";
            }
            
            // log.textContent = `The field's value is ${e.target.value.length} character(s) long.`;
            assignment_type = assignment_type_element.value;
            if (assignment_type_names.includes(assignment_type)) { // ex. Text, Internal Link, Iframe Link, etc.
                idx = assignment_type_names.indexOf(assignment_type);
                document.getElementById(assignment_type_ids[idx]).style.display = "inline";
                document.getElementById(assignment_type_label_ids[idx]).style.display = "inline";
            }
        }

        if (page_url.includes("update")) {
            // log.textContent = `The field's value is ${e.target.value.length} character(s) long.`;
            assignment_type = assignment_type_element.value;
            if (assignment_type_names.includes(assignment_type)) { // ex. Text, Internal Link, Iframe Link, etc.
                idx = assignment_type_names.indexOf(assignment_type);
                document.getElementById(assignment_type_ids[idx]).style.display = "inline";
                document.getElementById(assignment_type_label_ids[idx]).style.display = "inline";
            }
        }

    }


</script>



{% endblock JavaScript %}