{% extends 'ecoles/base_ecoles.html' %}
{% load humanize %}
{% load static %}


{% block title %}{{ title }}{% endblock title %}


{% block main_content_container %}



        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Les écoles de la Ca' de Bruno</h1>
        </div>
  
  
        <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for ecole in ecoles %}
                <div class="col">
                    <div class="card shadow-sm pt-4">
                      <img src="{{ ecole.svg_url|safe }}" class="card-img-top bd-placeholder-img" alt="Ca' de Bruno" width="100%" height="225"  role="img" aria-label="Ca' de Bruno image from svgrepo.com" preserveAspectRatio="xMidYMid slice" focusable="false">
                      <div class="card-body">
                          {% if user in ecole.students.all %}
                          <small><i class="fas fa-check-circle icon-color-green"></i> Enrolled</small>
                          {% else %}
                          <small><i class="fas fa-times-circle color-navy"></i> Not enrolled</small>
                          {% endif %} 
                          <h5 class="card-title fw-bold mt-2 single-line">{{ ecole.title }}</h5>
                        <p class="card-text font-size-12 multi-line three-lines ecole-description">{{ ecole.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          {% if user in ecole.students.all %}
                          <a type="button" href="{% url 'enroll_in_ecole' ecole.id %}" class="btn btn-outline-danger w-50 unenroll-in-ecole">Unenroll</a>
                          {% else %}
                          <a type="button" href="{% url 'enroll_in_ecole' ecole.id %}" class="btn btn-outline-navy w-50 enroll-in-ecole">Enroll</a>
                          {% endif %}

                                <span data-bs-toggle="modal" data-bs-target="#descriptionModal" data-bs-title="{{ ecole.title }}" data-bs-id="{{ ecole.id }}" data-bs-description="{{ ecole.description }}" style="cursor: pointer;">
                                <i class="fas fa-info-circle color-navy"></i>
                              </span>

                        </div>
                      </div>
                    </div>
                  </div>

                

                  {% endfor %}
        
                </div>
        </div>



{% endblock main_content_container %}

{% block modal %}
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descriptionModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block JavaScript %}
<script>
const exampleModal = document.getElementById('descriptionModal')
exampleModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const recipient = button.getAttribute('data-bs-title')
  const id = button.getAttribute('data-bs-id')
  const descr = button.getAttribute('data-bs-description')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = exampleModal.querySelector('.modal-title')
  const modalBody = exampleModal.querySelector('.modal-body')

  modalTitle.textContent = `${recipient}`;
  modalBody.textContent = `${recipient}: ${descr}`;
})
</script>
{% endblock JavaScript %}