{% extends 'base/base_nav.html' %}
{% load humanize %}


{% block title %}{{ title }}{% endblock title %}


{% block main %}









{% comment %} 
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for ecole in ecoles %}
        <div class="col">
            <div class="card shadow-sm pt-4">
              <img src="{{ ecole.svg_url|safe }}" class="card-img-top bd-placeholder-img" alt="Ca' de Bruno" width="100%" height="225"  role="img" aria-label="Ca' de Bruno image from svgrepo.com" preserveAspectRatio="xMidYMid slice" focusable="false">
              <div class="card-body">
                  <small><i class="fas fa-check-circle icon-color-green"></i> Enrolled</small>
                  <h5 class="card-title fw-bold mt-2 single-line">{{ ecole.title }}</h5>
                <p class="card-text font-size-12 multi-line three-lines ecole-description">{{ ecole.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-danger w-50">Unenroll</button>
                  <small class="text-muted fw-bold color-navy">
                      <a href="#">
                        <i class="fas fa-info-circle color-navy"></i>
                      </a>
                  </small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
</div> {% endcomment %}





<style>

    .sidebar {
        position: fixed;
        top: 0;
        /* rtl:raw:
        right: 0;
        */
        bottom: 0;
        /* rtl:remove */
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 48px 0 0; /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      }
      
      @media (max-width: 767.98px) {
        .sidebar {
          top: 5rem;
        }
      }
      
      .sidebar-sticky {
        height: calc(100vh - 48px);
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      }
      
      .sidebar .nav-link {
        font-weight: 500;
        color: #333;
      }
      
      .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
      }
      
      .sidebar .nav-link.active {
        color: #2470dc;
      }
      
      .sidebar .nav-link:hover .feather,
      .sidebar .nav-link.active .feather {
        color: inherit;
      }
      
      .sidebar-heading {
        font-size: .75rem;
      }
      
      /*
       * Navbar
       */
      
      
      

      
      .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
      }
      
      .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
      }

</style>








<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home" class="align-text-bottom"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file" class="align-text-bottom"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="users" class="align-text-bottom"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers" class="align-text-bottom"></span>
                Integrations
              </a>
            </li>
          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Year-end sale
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Les écoles de la Ca' de Bruno</h1>
          {% comment %} <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>
          </div> {% endcomment %}
        </div>
  
  
        <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for ecole in ecoles %}
                <div class="col">
                    <div class="card shadow-sm pt-4">
                      <img src="{{ ecole.svg_url|safe }}" class="card-img-top bd-placeholder-img" alt="Ca' de Bruno" width="100%" height="225"  role="img" aria-label="Ca' de Bruno image from svgrepo.com" preserveAspectRatio="xMidYMid slice" focusable="false">
                      <div class="card-body">
                        <small><i class="fas fa-times-circle color-navy"></i> Not enrolled</small>
                          {% comment %} {% if USER_IS_ENROLLED %}
                          <small><i class="fas fa-check-circle icon-color-green"></i> Enrolled</small>
                          {% else %}
                          <small><i class="fas <i class="fas fa-times-circle"></i> icon-color-green"></i> Not enrolled</small>
                          {% endif %} {% endcomment %}
                          <h5 class="card-title fw-bold mt-2 single-line">{{ ecole.title }}</h5>
                        <p class="card-text font-size-12 multi-line three-lines ecole-description">{{ ecole.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <button type="button" class="btn btn-outline-navy w-50">Enroll</button>
                          {% comment %} {% if USER_IS_ENROLLED %}
                          <button type="button" class="btn btn-danger w-50">Unenroll</button>
                          {% else %}
                          <button type="button" class="btn btn-outline-navy w-50">Enroll</button>
                          {% endif %} {% endcomment %}

                              <a href="#">
                                <i class="fas fa-info-circle color-navy"></i>
                              </a>
                        </div>
                      </div>
                    </div>
                  </div>

                

                  {% endfor %}
        
                </div>
        </div>





        






      </main>
    </div>
  </div>
  

{% endblock main %}

