{% extends 'ecoles/base_ecoles.html' %}
{% load static %}

{% block title %}{{ item.task_type }} | {{ item.assignment.title }} | HoyaPlus{% endblock title %}

{% block main_content_container %}

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            <h1 class="fw-bold">{{ item.task_type }}</h1>
                            <p class="lead">Due: {{ item.due_date }}</p>
                            <p class="lead">Assignment: {{ item.assignment.title }}</p>
                        </div>
                    </div> 
                </div>


{% endblock main_content_container %}