{% extends 'base/base_nav.html' %}

{% block title %}Messaging | Scampia{% endblock title %}

{% load static %}

{% block css_links %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
{% endblock css_links %}

{% block main %}


<div class="row mt-4">

  <div class="col-lg-4">
        <div class="mx-4">  
            <a type="button" href="{% url 'usersearch' %}" class="btn btn-lg btn-outline-success"><i class="fas fa-plus-circle"></i> New message</a>
            <div style="overflow-y: scroll; height: 500px" class="list-group w-auto mt-2" id="messages-inbox-list-group">

              <div class="list-group-item bg-lin-grad">
                <h4 class="fw-bold">Messages</h4>
              </div>

              <div class="list-group-item">
                <input type="text" class="form-control mt-2 mb-2" id="messages-inbox-user-query" placeholder="Search for users...." onkeyup="filterUsersInInbox()">
              </div>

              {% for message in messages %}
              

                  <a href="{% url 'directs' message.user.username %}" class="list-group-item list-group-item-action d-flex gap-3 py-3 {% if active_direct == message.user.username %}active{% endif %}" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0 item-title">{{ message.user.first_name }} {{ message.user.last_name }}</h6>
                        {% if message.unread %}
                          <p style="font-weight: bold; color: red;">
                            <i class="fas fa-circle"></i> {{ message.unread }}
                          </p>
                        {% endif %}   
                      </div>
                      <small class="opacity-50 text-nowrap">@{{ message.user.username }}</small>
                    </div>
                  </a>


              {% endfor %}
          
            </div>
        </div>
  </div>

  <div class="col-lg-8">



    <div class="mx-4">

      <div class="card mb-2" style="overflow-y: scroll; height: 56vh;" id="chat-card">

          <div class="card-body" id="chat-card-body">

            <div id="box">

              {% for direct in directs %}
              <!--float: right; border-radius: 16px; width: 350px;-->

              <div class="row mt-4">
                  {% if user == direct.sender %}
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 message-from-current-user text-white px-4 pt-3 pb-4" style="border-radius: 80px; background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); background: linear-gradient(to right, #00c6ff, #0072ff);">
                    <p>
                      <strong>{{ direct.sender.profile.first_name }} {{ direct.sender.profile.last_name }}</strong> <small class="text-muted">@{{ direct.sender.username }} ({{ direct.date|date:'N d G:i'}})</small>
                    </p>
                    {{ direct.body|safe }} 
                  </div>
                {% else %}
                  <div class="col-lg-6 message-from-other-user px-4 pt-3 pb-4 bg-lin-grad" style="border-radius: 80px;">
                    <p>
                      <strong>{{ direct.sender.profile.first_name }} {{ direct.sender.profile.last_name }}</strong> <small class="text-muted">@{{ direct.sender.username }} ({{ direct.date|date:'N d G:i'}})</small>
                    </p>
                    {{ direct.body|safe }} 
                  </div>
                  <div class="col-lg-6"></div>
                {% endif %}
              </div>

              {% endfor %}

            </div>

          </div>

      </div>

      <form role="form" method="POST" action="{% url 'send_direct' %}">
        {% csrf_token %}

        <div class="">
          <input type="hidden" name="to_user" value="{{ active_direct }}">
                  <textarea class="textarea form-control w-100 mb-2" name="body" placeholder="Type your message...." id="message-textbox" name="message"></textarea>
                  <button type="submit" name="action" class="btn btn-outline-primary mt-2" id="send-message-button"><i class="fas fa-paper-plane"></i> Send message</button>
        </div>
      </form>

    </div>
      
      
      
      

  </div>

</div>


{% endblock main %}






{% block JavaScript %}

  


  <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  
  <!-- Initialize Quill editor -->
  <script>
  
      window.onload = function() {

          // Scroll to bottom of chat card box:
          var objDiv = document.getElementById("chat-card");
          objDiv.scrollTop = objDiv.scrollHeight;


          // Now Quill:
          var newNode = document.createElement('div');
          newNode.id = 'quill_editor'; // editor-container
          var newInputNode = document.createElement('div');
          newInputNode.setAttribute("type", "hidden");
          newInputNode.setAttribute("name", "message");
          newInputNode.id = 'quill_descr';
  
  
          // Get the reference node
          var referenceNode = document.querySelector('#message-textbox.textarea.form-control'); // Description textarea
  
          // Insert the new node before the reference node
          referenceNode.after(newNode); 
  
          newNode.after(newInputNode);
  
  
          
          let toolbarOptions = [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
          ['link', 'image'],
          ['blockquote', 'code-block'],
          [{ 'header': 1 }, { 'header': 2 }],               // custom button values
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent                                       // remove formatting button
          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'font': [] }],
          [{ 'align': [] }],
          ];
  
      let quill = new Quill('#quill_editor', {
      modules: {
        toolbar: toolbarOptions
      },
      placeholder: 'Compose an epic...',
      theme: 'snow'
      });
    
      txt = document.getElementById("message-textbox").value;
      console.log(txt);
      document.getElementById("message-textbox").style.display = 'none';
      document.querySelector(".ql-editor").innerHTML = txt;
  
      btn = document.getElementById("send-message-button");
      btn.addEventListener('mouseover', (event) => {
          console.log(quill.root.innerHTML);
          let descr = document.querySelector('#message-textbox');
          descr.value = quill.root.innerHTML;
      });
    
  
  
  
  
      };



  
</script>






<script>  
  function filterUsersInInbox() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("messages-inbox-user-query");
      filter = input.value.toUpperCase();
      ul = document.getElementById("messages-inbox-list-group");
      li = ul.querySelectorAll(".list-group-item-action");
      for (i = 0; i < li.length; i++) {

          nm = li[i].querySelectorAll(".item-title")[0];
          name_txtValue = nm.textContent || nm.innerText;

          username = li[i].querySelectorAll(".item-title")[0];
          username_txtValue = username.textContent || username.innerText; 

          if (name_txtValue.toUpperCase().indexOf(filter) > -1 || username_txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].classList.remove("no-display");
          } else {
            console.log('no');
              li[i].classList.add("no-display");
          }
      }
  }
</script>
{% endblock JavaScript %}