{% extends 'base/base_nav.html' %}

{% block title %}Messaging | Ca' de Bruno{% endblock title %}

{% load static %}

{% block main %}

<div class="row mt-4">

  <div class="col-lg-4">

      <div class="mx-4">
          <div style="overflow-y: scroll; height: 500px" class="list-group w-auto mt-2" id="messages-inbox-list-group">

            <div class="list-group-item bg-lin-grad">
              <h4 class="fw-bold">Messages</h4>
            </div>

            <div class="list-group-item">
              <form>
                <div class="input-group">
                    <input class="form-control" name="q" type="text" placeholder="Search users..." value="{{ request.GET.q }}" aria-describedby="search-users">
                    <button type="submit" class="btn btn-outline-success" id="search-users">Search</button>
                </div>
              </form>
            </div>

            {% for u in users %}
              {% if u.username != user.username %}
                    <a href="{% url 'newconversation' u.username %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                      <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0 item-title">{{ u.first_name }} {{ u.last_name }}</h6>
                        </div>
                        <small class="opacity-50 text-nowrap">@{{ u.username }}</small>
                      </div>
                    </a>
              {% endif %}
            {% endfor %}
        
          </div>
      </div>

  </div>

</div>



  





	


{% endblock %}
