0x-contract-addresses==3.0.0
0x-contract-artifacts==3.0.0
0x-json-schemas==2.1.0
0x-order-utils==4.0.1
aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
base58==2.1.1
beautifulsoup4==4.11.1
bitarray==2.6.0
cbor2==5.4.3
certifi==2022.6.15
chardet==3.0.4
charset-normalizer==2.1.0
cssselect==1.1.0
cytoolz==0.12.0
dacite==1.6.0
Deprecated==1.2.13
dj-database-url==1.0.0
Django==4.0.6
django-crispy-forms==1.14.0
django-on-heroku==1.1.2
et-xmlfile==1.1.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
feedparser==6.0.10
frozenlist==1.3.1
googletrans==3.1.0a0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hexbytes==0.3.0
hpack==3.0.0
hstspreload==2022.8.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipfshttpclient==0.8.0a2
jsonschema==3.2.0
lru-dict==1.1.8
lxml==4.9.1
multiaddr==0.0.9
multidict==6.0.2
mypy-extensions==0.4.3
netaddr==0.8.0
numpy==1.23.1
openai==0.22.1
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pandas-stubs==1.4.3.220801
parsimonious==0.8.1
protobuf==3.20.2
psycopg2-binary==2.9.3
pycryptodome==3.15.0
pyee==9.0.4
pymerkle==2.0.2
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
pytube==12.1.0
pytz==2022.1
readability-lxml==0.8.1
requests==2.28.1
rfc3986==1.5.0
rlp==2.0.1
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
strfseconds==0.0.0b1
stringcase==1.2.0
thirdweb-contract-wrappers==2.0.4
thirdweb-eth-account==0.6.6
thirdweb-sdk==2.0.18
toolz==0.12.0
tqdm==4.64.0
types-pytz==2022.1.2
typing_extensions==4.3.0
urllib3==1.26.11
varint==1.0.2
web3==5.27.0
websockets==9.1
whitenoise==6.2.0
wikipedia==1.4.0
Wikipedia-API==0.5.4
wrapt==1.14.1
yarl==1.8.1
youtube-transcript-api==0.4.4
