<html lang="en">
{% load static %}


    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" href="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Free_France_%281940-1944%29_Cross_of_Lorraine_variant.svg" sizes="180x180">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Free_France_%281940-1944%29_Cross_of_Lorraine_variant.svg" sizes="32x32" type="image/png">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Free_France_%281940-1944%29_Cross_of_Lorraine_variant.svg" sizes="16x16" type="image/png">
        <link rel="manifest" href="">
        <link rel="mask-icon" href="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Free_France_%281940-1944%29_Cross_of_Lorraine_variant.svg" color="#712cf9">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Free_France_%281940-1944%29_Cross_of_Lorraine_variant.svg">
        <meta name="theme-color" content="#712cf9">
        <title>Create</title>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css">
        <link rel="stylesheet" type="text/css" href="{% static 'maps/styles/yahad.css' %}">
        <style>
            .mapboxgl-popup-close-button { color: black; }
            .mapboxgl-popup-content { 
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important; 
                color: black; 
                border-radius: 10px; 
                border: 2px solid #214561 !important;
            }
            .mapboxgl-popup-content #popup-title { font-weight: 900 !important; color: black !important; }
            .mapboxgl-popup { width: 200px; }
            * {
                color: white;
            }
            input, select { color: black !important; }
            #console { border-radius: 10px; }
            @media (min-width: 768px) {
                #console { width: 360px!important; }
            }
            @media (max-width: 768px) {
                #console { width: 250px!important; }
            }
            .mapboxgl-ctrl-geocoder--suggestion-title, .mapboxgl-ctrl-geocoder--suggestion-address { color: black !important; }
            #main-img { width: 100%; height: auto; }
            .nav-link, .nav-link:hover { color: white; }
            .footer {
                position: absolute;
                bottom: 0px;
            }
            .card label { color: black !important; }
            .fw-700 { font-weight: 700; }
        </style>

    </head>


    <body>

        <div id='map'></div>
        <div id='console' style="overflow-y: scroll !important; height: 92% !important; background-color: #214561 !important;">
            <strong><h2 style="font-size: 24px;">Create map</h2></strong>
            <button id="save-map" class="btn btn-lg btn-outline-light w-100 mt-4 mb-4">Publish <i class="fas fa-check-circle"></i></button>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Map</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="events-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab" aria-controls="events" aria-selected="false">Events</button>
                </li>
            </ul>
              
              <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

                    <div class="input-group mt-4">
                        <span class="input-group-text" id="map-image">Main image URL</span>
                        <input type="text" placeholder="Paste URL" class="form-control" id="mapImage" aria-label="Image" aria-describedby="map-image">
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text" id="map-title">Title</span>
                        <input type="text" class="form-control" id="mapTitle" aria-label="Title" aria-describedby="map-title">
                    </div>
        
                    <div class="input-group mt-4">
                        <span class="input-group-text">Description</span>
                        <textarea rows="4" class="form-control" aria-label="Description" id="mapDescription" placeholder="Enter map description here..."></textarea>
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text">Anchor Date</span>
                        <input type="date" class="form-control" id="anchorDate">
                    </div>

                    <hr>    

                    <small class=""><strong>Details</strong></small>

                    <div class="py-2"></div>

                    <div class="session" id="meta-data">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Key" id="key">
                            <input type="text" class="form-control" placeholder="Value" aria-describedby="val">
                        </div>
                            <div class="">
                                <button class="btn btn-sm btn-outline-light w-100">Add more details <i class="fas fa-plus-circle"></i></button>
                            </div>

                    </div>

                    

                </div>
                <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab" tabindex="0">
                    <div class="form-check">
                        <input checked class="form-check-input" type="radio" name="action-type" id="noAction" value="none" onclick="actionSelector(this);">
                        <label class="form-check-label" for="noAction">
                          No action
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="action-type" id="createEventByClick" value="click" onclick="actionSelector(this);">
                        <label class="form-check-label" for="createEventByClick">
                          Create event by click
                        </label> 
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="action-type" id="createEventByCoordinates" value="coordinates" onclick="actionSelector(this);">
                        <label class="form-check-label" for="createEventByCoordinates">
                          Enter coordinates
                        </label> 
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="action-type" id="createEventByName" value="name" onclick="actionSelector(this);">
                        <label class="form-check-label" for="createEventByName">
                          Enter place name
                        </label> 
                    </div>

                    <div class="session" id="added-events"></div>

                </div>
            </div>

        </div>

        <script src="{% static 'maps/scripts/get_access_token.js' %}"></script>
        <script src="{% static 'maps/scripts/geocoder.js' %}"></script>
        <script src="{% static 'maps/scripts/reverse_geocoder.js' %}"></script>
        <script src="{% static 'maps/scripts/geocoder_search.js' %}"></script>
        <script src="{% static 'maps/scripts/get_long_and_lat.js' %}"></script>
        <script src="{% static 'maps/scripts/get_click_loc.js' %}"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>

            // https://www.w3schools.com/jsref/jsref_obj_date.asp // DATES

            mapboxgl.accessToken = getMapboxAccessToken(); 'pk.eyJ1IjoiYm1sNzQiLCJhIjoiY2t6cmN5djB2NnJuMjJzdHZhYmRoeTltNCJ9.AW3ZM0ZGP8tXwWDbri969Q';

            const map = new mapboxgl.Map({
            container: 'map', // container element id
            style: 'mapbox://styles/mapbox/light-v10',
            // center: [-74.0059, 40.7128], // initial map center in [lon, lat]
            center: [30.4492, 50.4713],
            zoom: 4,
            minZoom: 2,
            renderWorldCopies: false
            });

            function addLayer (my_filter) {

                map.addLayer({
                id: 'myMap', 
                type: 'circle',
                /* 
                source: {
                    type: 'geojson',
                    data: "{% static 'maps/yahad.geojson'|safe %}" // Data source
                }, 
                */

                /*
                paint: {

                    "circle-radius": [
                        'case', 
                        mag1, 4,
                        mag2, 6,
                        mag3, 8,
                        mag4, 10,
                        12 // Other (like an "else" statement)
                        ],


                    'circle-color': [ // IF DATA AVAILABLE
                    'match',
                    ['get', 'Content_Online'],
                    1, '#EC0C0C', // If content is online (i.e., if Yahad Map dot is red)
                    0, '#0CC2EC', // If content is not yet available online (i.e., if Yahad Map dot is red)
                    '#ccc'
                    ],
                    'circle-opacity': 0.8
                },
                */

                
                });
            };

            function getCoordinates(e) {
                getClickLocation(e); // Get click position and log.
                coords = getLongitudeAndLatitude(e); // Get longitude and latitude. Returns array in form [lng, lat]
                lng = coords[0]; lat = coords[1]; 
                //console.log(`Longitude: ${lng} | Latitude: ${lat}`)
                return {"longitude": lng, "latitude": lat};
            }

            function createMarker(lng, lat) {
                newMarker = new mapboxgl.Marker()
                .setLngLat([lng, lat])
                .addTo(map);
            }

            let click_selected = false; // Flag variable
            let num_events = 0; // Counter/iterator variable

            {% comment %} const geocoder = new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl
            });  {% endcomment %}

            function actionSelector(myRadio) { // Upon radio selection
                if (myRadio.value != 'click') { // If not choosing click. // document.getElementById("createEventByClick").checked
                    click_selected = false;
                    map.on('click', function (e) {
                        console.log("No action.")
                    });
                }
                else { // If choose to click to create event
                    click_selected = true;
                    map.on('click', function (e) {
                        if (click_selected) {
                            let anchorDate = document.getElementById("anchorDate");
                            if (!anchorDate.value) {
                                alert("You must first select an anchor date.");
                            }
                            else {
                                
                                num_events += 1;
                                coords = getCoordinates(e); // Get coordinates
                                createMarker(coords.longitude, coords.latitude); // Create marker
                                outerDiv = document.createElement("div");
                                newDiv = document.createElement("div");

                                let mapbox_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/" + lng + "%2C%20" + lat + ".json?access_token=" + mapboxgl.accessToken;
                                fetch(mapbox_url)
                                .then(response => response.json())
                                .then(function (data) {
                                    loc_data = new Object();
                                    for (feature of data.features) {
                                        loc_data[feature.place_type[0].toLowerCase()] = feature.place_name;
                                    };
                                    
                                    const properties = {
                                        "longitude": coords.longitude,
                                        "latitude": coords.latitude,
                                        "address": loc_data.address, 
                                        "neighborhood": loc_data.neighborhood, 
                                        "postcode": loc_data.postcode, 
                                        "district": loc_data.district, 
                                        "city": loc_data.place, 
                                        "region": loc_data.region, 
                                        "country": loc_data.country
                                    }

                                    console.log(coords);

                                    let div = document.getElementById(`event-${num_events}`);
                                    
                                    for (let [key, value] of Object.entries(properties)) {
                                        geoDiv = document.createElement("div"); geoDiv.classList.add("mb-2"); geoDiv.classList.add("w-100"); 
                                        geoDescription = document.createElement("label"); geoDescription.classList.add("form-label"); geoDescription.classList.add("fw-700"); geoDescription.innerHTML = key[0].toUpperCase() + key.substring(1); geoDescription.setAttribute("for", `geoDescription-${key}-${num_events}`);
                                        geoInput = document.createElement("input"); geoInput.id = `geoDescription-${key}-${num_events}`; geoInput.classList.add("form-control"); geoInput.value = value; 
                                        if (key == "latitude" || key == "longitude") {
                                            geoInput.type = "number";
                                        } else { geoInput.type = "text"; }
                                        geoInput.disabled = true; geoInput.style.backgroundColor = "white";
                                        geoDiv.appendChild(geoDescription); geoDiv.appendChild(geoInput);
                                        div.appendChild(geoDiv);
                                    }

                                    /*
                                    radioDiv = document.createElement("div"); radioDiv.classList.add("form-check"); radioDiv.classList.add("input-group");
                                    radio = document.createElement("input"); radio.setAttribute("type", "checkbox"); radio.classList.add("details-available-radio"); radio.classList.add("form-check-input");
                                    label = document.createElement("label"); label.classList.add("form-check-label"); label.innerHTML = "&emsp;Details Available"; label.style.color = "black";
                                    radioDiv.appendChild(radio); radioDiv.appendChild(label);
                                    */
    
                                    startDiv = document.createElement("div"); startDiv.classList.add("mb-2"); startDiv.classList.add("w-100"); 
                                    startDescription = document.createElement("label"); startDescription.classList.add("form-label"); startDescription.classList.add("fw-700"); startDescription.innerHTML = "Start Date"; startDescription.setAttribute("for", `start-${num_events}`);
                                    startInput = document.createElement("input"); startInput.id = `start-${num_events}`; startInput.classList.add("form-control"); startInput.classList.add("start-date"); startInput.type = "date";
                                    startDiv.appendChild(startDescription); startDiv.appendChild(startInput);

                                    daysSinceAnchorForStartDate = document.createElement("div"); daysSinceAnchorForStartDate.classList.add("mb-2"); daysSinceAnchorForStartDate.classList.add("w-100"); 
                                    daysSinceAnchorForStartDateDescription = document.createElement("label"); daysSinceAnchorForStartDateDescription.classList.add("form-label"); daysSinceAnchorForStartDateDescription.classList.add("fw-700"); daysSinceAnchorForStartDateDescription.innerHTML = "Days Since Anchor For Start Date"; daysSinceAnchorForStartDateDescription.setAttribute("for", `days-since-anchor-start-${num_events}`);
                                    daysSinceAnchorForStartDateInput = document.createElement("input"); daysSinceAnchorForStartDateInput.id = `days-since-anchor-start-${num_events}`; daysSinceAnchorForStartDateInput.classList.add("form-control"); daysSinceAnchorForStartDateInput.classList.add("days-since-anchor-start"); daysSinceAnchorForStartDateInput.type = "number"; daysSinceAnchorForStartDateInput.disabled = true;
                                    daysSinceAnchorForStartDate.appendChild(daysSinceAnchorForStartDateDescription); daysSinceAnchorForStartDate.appendChild(daysSinceAnchorForStartDateInput);

                                    /*
                                    startInput.addEventListener('change', (event) => { 
                                        let start_date = moment(event.target.value, 'YYYY-MM-DD');
                                        let anchorDate = moment(document.getElementById("anchorDate").value, 'YYYY-MM-DD');
                                        let days_since_anchor_start = start_date.diff(anchorDate, 'days'); 
                                        console.log(days_since_anchor_start);
                                        document.getElementById(`days-since-anchor-start-${num_events}`).value = days_since_anchor_start;
                                    });
                                    */

                                    endDiv = document.createElement("div"); endDiv.classList.add("mb-2"); endDiv.classList.add("w-100"); 
                                    endDescription = document.createElement("label"); endDescription.classList.add("form-label"); endDescription.classList.add("fw-700"); endDescription.innerHTML = "End Date"; endDescription.setAttribute("for", `end-${num_events}`);
                                    endInput = document.createElement("input"); endInput.id = `end-${num_events}`; endInput.classList.add("form-control"); endInput.classList.add("end-date"); endInput.type = "date";
                                    endDiv.appendChild(endDescription); endDiv.appendChild(endInput);

                                    daysSinceAnchorForEndDate = document.createElement("div"); daysSinceAnchorForEndDate.classList.add("mb-2"); daysSinceAnchorForEndDate.classList.add("w-100"); 
                                    daysSinceAnchorForEndDateDescription = document.createElement("label"); daysSinceAnchorForEndDateDescription.classList.add("form-label"); daysSinceAnchorForEndDateDescription.classList.add("fw-700"); daysSinceAnchorForEndDateDescription.innerHTML = "Days Since Anchor For Send Date"; daysSinceAnchorForEndDateDescription.setAttribute("for", `days-since-anchor-end-${num_events}`);
                                    daysSinceAnchorForEndDateInput = document.createElement("input"); daysSinceAnchorForEndDateInput.id = `days-since-anchor-end-${num_events}`; daysSinceAnchorForEndDateInput.classList.add("form-control"); daysSinceAnchorForEndDateInput.classList.add("days-since-anchor-end"); daysSinceAnchorForEndDateInput.type = "number"; daysSinceAnchorForEndDateInput.disabled = true;
                                    daysSinceAnchorForEndDate.appendChild(daysSinceAnchorForEndDateDescription); daysSinceAnchorForEndDate.appendChild(daysSinceAnchorForEndDateInput);

                                    /*
                                    endInput.addEventListener('change', (event) => {
                                        let end_date = moment(event.target.value, 'YYYY-MM-DD');
                                        let anchorDate = moment(document.getElementById("anchorDate").value, 'YYYY-MM-DD');
                                        let days_since_anchor_end = end_date.diff(anchorDate, 'days'); 
                                        console.log(days_since_anchor_end);
                                        document.getElementById(`days-since-anchor-end-${num_events}`).value = days_since_anchor_end;
                                    });
                                    */
    
                                    // newDiv.appendChild(radioDiv);
                                    newDiv.appendChild(startDiv);    
                                    newDiv.appendChild(endDiv);
                                    /*newDiv.appendChild(daysSinceAnchorForStartDate);    
                                    newDiv.appendChild(daysSinceAnchorForEndDate);*/

                                });

                                outerDiv.appendChild(newDiv);
                                document.getElementById("added-events").appendChild(outerDiv);    
                                outerDiv.classList.add("card"); outerDiv.classList.add("mt-2"); outerDiv.classList.add("mb-2");
                                newDiv.classList.add("card-body"); newDiv.classList.add("new-added-event"); newDiv.classList.add("mb-3"); newDiv.id = `event-${num_events}`;    

                            }
                        }
                    });
                }
            }

            // Add the geocoder search bar to the map (default in top right of map).
            geocoder_search_engine(); 

        </script>

        <script defer>
            $('#save-map').on('click', function (clickEvent) {

                let events = [];
                let all_events = document.querySelectorAll(".new-added-event");
                for (event of all_events) {
                    events.push({
                        "longitude": event.querySelector(".longitude").value,
                        "latitude": event.querySelector(".latitude").value,
                        "details_available": event.querySelector(".details-available-radio").checked,
                        "address": xyz, 
                        "neighborhood": xyz, 
                        "postcode": xyz, 
                        "district": xyz, 
                        "city": xyz, 
                        "region": xyz, 
                        "country": xyz, 
                        "start_date": xyz, 
                        "end_date": xyz, 
                    });
                }
                console.log(events); 

                $.ajax({
                    url: window.location.href,
                    type: 'get',
                    dataType: 'json',
                    data: {
                        title: document.getElementById("mapTitle").value,
                        description: document.getElementById("mapDescription").value,
                        image_url: document.getElementById("mapImage").value,
                        anchor_date: document.getElementById("anchorDate").value,
                        events: ""
                    },
                    error: function(response) {
                        console.log(response);
                    },
                    success: function(response) {
                        console.log(response);
                    }
                });
            }); 
        </script>

    </body>
</html>
