{% extends 'base/base_nav.html' %}
{% block title %}Maps | Ca' de Bruno{% endblock title %}


{% block nav_scroller %}
  <div class="nav-scroller bg-body shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
      <a class="nav-link" href="#">
        Friends
        <span class="badge text-bg-light rounded-pill align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="#">Explore</a>
      <a class="nav-link" href="#">Suggestions</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
    </nav>
  </div>
  
  {% endblock nav_scroller %}

{% block main %}

  

  <div class="container py-4">

    <div class="p-5 mb-4 bg-lin-grad rounded-3">
        <div class="container-fluid py-5 text-center">
          <h1 class="display-5 fw-bold">Maps</h1>

          <p class="fs-4 col-md-6 offset-md-3">Maps and visualizations to help you portray and explore real-world topics such as World War II, financial transactions, cybercrime, and more.</p>

            <form action="{% url 'maps_query' %}" method="get">

                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Try searching: Yahad, Russian hacking, Pink Panther jewel thefts" aria-label="Search query" aria-describedby="button-searchQuery" name="term" value="{{ term }}">
                            <button class="btn btn-outline-secondary" type="submit" id="button-searchQuery">Search</button>
                        </div>
                    </div>
                    <div class="col-3"></div>
            

                </div>

            </form>


        </div>
    </div>

    <div class="row">
            {% if results %}
                {% for map in results %}
                    <div class="col-lg-4 mt-4">
                        <a href="/maps/{{ map.keyword }}/" class="text-decoration-none text-muted">
                            <div class="card bg-lin-grad">
                                <div class="card-body text-center">
                                        <h4>{{ map.title }}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
    </div>


  </div>



















  {% endblock main %}