{% extends 'market/dependencies.html' %}

{% block body %}



<header class="sticky top-0 z-40 flex-none mx-auto w-full bg-white border-b border-gray-200 dark:border-gray-600 dark:bg-gray-800">
    <div
        id='banner'
        tabIndex='-1'
        class='flex z-50 justify-center py-3 px-4 w-full bg-gray-50 border border-b border-gray-200 dark:border-gray-600 lg:py-4 dark:bg-gray-700'>
        <div class='items-center md:flex'>
          <p class='text-sm font-medium text-gray-900 md:my-0 dark:text-white'>
            <span class='bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 hidden md:inline'>New</span>
            
              <a href="{% url 'listings' %}" class='inline-flex items-center ml-2 text-sm font-medium text-blue-600 md:ml-2 dark:text-blue-500 hover:underline'>
                Check out the new marketplace!
                <svg
                class='ml-1 w-4 h-4 text-blue-600 dark:text-blue-500'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                  xmlns='http://www.w3.org/2000/svg'>
                  <path
                    fillRule='evenodd'
                    d='M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z'
                    clipRule='evenodd'></path>
                </svg>
              </a>



          </p>
        </div>
    </div>






  


    <div class="flex justify-between items-center py-3 px-3 mx-auto w-full max-w-8xl lg:px-4">
        <div class="flex items-center">
            <button data-collapse-toggle="flowbiteMenu" type="button" class="mr-4 pr-4inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg md:hidden hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500" aria-controls="flowbiteMenu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
        
        
            <div class="flex justify-between items-center">
            <a href="/" class="flex">
                <img src="https://www.svgrepo.com/show/29706/money-bag.svg" class="mr-3 h-8" alt="Ca' de Bruno Logo" />
                <h1 class="text-2xl font-extrabold text-gray-900 dark:text-white md:text-2xl lg:text-2xl">
                    <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Ca' de Bruno</span> <!-- self-center text-2xl font-semibold whitespace-nowrap dark:text-white -->
                </h1>
            </a>
            </div>
            <a href="{% url 'search' %}">
                {% comment %} <div id="docsearch" class="ml-6 xl:ml-16 xl:pl-4"></div> {% endcomment %}
                <div class="ml-6 xl:ml-16 xl:pl-4"><button type="button" class="DocSearch DocSearch-Button" aria-label="Search"><span class="DocSearch-Button-Container"><svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg><span class="DocSearch-Button-Placeholder">Search</span></span><span class="DocSearch-Button-Keys"></span></button></div>

            </a>
        </div>
  
        <div class="flex items-center" id="">
            <ul id="flowbiteMenu" class="hidden flex-col pt-6 lg:flex-row lg:self-center lg:py-0 lg:flex">
            <li class="mb-3 lg:px-2 xl:px-3 lg:mb-0">
                <a href="{% url 'dashboard' %}" class="text-sm font-medium text-gray-900 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-500">Dashboard</a>
            </li>
            <li class="mb-3 lg:px-2 xl:px-3 lg:mb-0">
                <a href="{% url 'ecoles-home' %}" class="text-sm font-medium text-gray-900 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-500">Learning</a>
            </li>
            <li class="mb-3 lg:px-2 xl:px-3 lg:mb-0 xl:block">
                <a href="{% url 'listings' %}" class="text-sm font-medium text-gray-900 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-500">Market</a>
            </li>
            <li class="mb-3 lg:px-2 xl:px-3 lg:mb-0 xl:block">
                <a href="{% url 'profile' %}" class="text-sm font-medium text-gray-900 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-500">Account</a>
            </li>

            </ul>

                <a href="#" data-tooltip-target="tooltip-notifications" class="hidden sm:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1" >
                    <i class="fas fa-bell fa-lg"></i>
                    <span class="sr-only">View notifications</span>
                </a>
                <div id="tooltip-notifications" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                    View notifications
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <a href="#" data-tooltip-target="tooltip-messages" class="hidden sm:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1" >
                    <i class="fas fa-envelope fa-lg"></i>             
                    <span class="sr-only">View messages</span>
                </a>
                <div id="tooltip-messages" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                    View messages
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>


                <button id="theme-toggle" data-tooltip-target="tooltip-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                <svg aria-hidden="true" id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                <svg aria-hidden="true" id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Toggle dark mode</span>
                </button>
                <div id="tooltip-toggle" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                    Toggle dark mode
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div> 


                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}"  class="hidden md:inline-flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-3">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}"  class="hidden md:inline-flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-3">Login</a>
                    <a href="{% url 'register' %}"  class="hidden md:inline-flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-3">Register</a>
                {% endif %}


        </div>
    </div> 

</header> 



{% block main %}
{% endblock main %}

    <footer class="py-12 bg-gray-50 xl:py-24 dark:bg-gray-800">
        <div class="px-4 mx-auto w-full max-w-8xl">
            <div class="grid gap-12 xl:grid-cols-6 xl:gap-24">
                <div class="col-span-2">
                    <a href="/" class="flex mb-5">
                    <img src="https://www.svgrepo.com/show/86481/money.svg" class="mr-3 h-8" alt="FreeMoney Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
                    </a>
                    <p class="mb-3 max-w-lg text-gray-600 dark:text-gray-400">Flowbite is a library of interactive UI components built with Tailwind CSS that can get you started building websites faster and more efficiently.</p>
                    <p class="max-w-lg text-gray-600 dark:text-gray-400">Code licensed <a href="https://github.com/themesberg/flowbite/blob/main/LICENSE.md" class="text-blue-600 dark:text-blue-500 hover:underline" rel="nofollow">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" class="text-blue-600 hover:underline dark:text-blue-500" rel="nofollow">CC BY 3.0</a>.</p>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold text-gray-400 uppercase dark:text-white">Resources</h3>
                    <ul>
                        <li class="mb-4">
                        <a href="https://flowbite.com/"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Flowbite</a>
                        </li>
                        <li class="mb-4">
                        <a href="https://www.figma.com/?ref=flowbite.com" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Figma</a>
                        </li>
                        <li class="mb-4">
                        <a href="https://tailwindcss.com/?ref=flowbite.com" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Tailwind CSS</a>
                        </li>
                        <li class="mb-4">
                        <a href="https://flowbite.com/pro/"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Pro version</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold text-gray-400 uppercase dark:text-white">Help and support</h3>
                    <ul>
                        <li class="mb-4">
                        <a href="https://flowbite.com/contact/" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Contact us</a>
                        </li>
                        <li class="mb-4">
                        <a href="https://github.com/themesberg/flowbite/discussions" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Github discussions</a>
                        </li>
                        </ul>
                        </div>
                        <div>
                        <h3 class="mb-6 text-sm font-semibold text-gray-400 uppercase dark:text-white">Follow us</h3>
                        <ul>
                        <li class="mb-4">
                        <a href="https://discord.gg/4eeurUVvTy" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Discord</a>
                        </li>
                        <li class="mb-4">
                        <a href="https://github.com/themesberg" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">GitHub</a>
                        </li>
                        <li class="mb-4">
                        <a href="https://twitter.com/zoltanszogyenyi" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold text-gray-400 uppercase dark:text-white">Legal</h3>
                    <ul>
                        <li class="mb-4">
                        <a href="https://flowbite.com/license/" class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">License (EULA)</a>
                        </li>
                        <li class="mb-4">
                        <a href="https://themesberg.com/privacy-policy/" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Privacy Policy</a>
                        </li>
                        <li class="mb-4">
                        <a href="https://themesberg.com/terms-and-conditions/" rel="noreferrer nofollow"
                        class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="my-8 border-gray-200 dark:border-gray-700 lg:my-12" />
            <span class="block text-center text-gray-600 dark:text-gray-400 font-">© 2019-<span id="currentYear"></span> <a href="https://flowbite.com/">Flowbite™</a> is a registered trademark. All Rights Reserved.
            </span>
        </div>
    </footer>



    <script>


        var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
        var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
    
        // Change the icons inside the button based on previous settings
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            themeToggleLightIcon.classList.remove('hidden');
            document.documentElement.classList.add('dark');
        } else {
            themeToggleDarkIcon.classList.remove('hidden');
            document.documentElement.classList.remove('dark')
        }
    
        var themeToggleBtn = document.getElementById('theme-toggle');
    
        themeToggleBtn.addEventListener('click', function() {
    
            // toggle icons inside button
            themeToggleDarkIcon.classList.toggle('hidden');
            themeToggleLightIcon.classList.toggle('hidden');
    
            // if set via local storage previously
            if (localStorage.getItem('color-theme')) {
                if (localStorage.getItem('color-theme') === 'light') {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                } else {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                }
    
            // if NOT set via local storage previously
            } else {
                if (document.documentElement.classList.contains('dark')) {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                } else {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                }
            }
            
        });
    
    </script>



{% endblock body %}




