{% extends 'market/base.html' %}
{% load static %}

{% block title %}
{{ item.title }}
{% endblock title %}

{% block main %}

<main class="grow" style="margin: 2%;">

    <div class="w-full px-5 mx-auto"> <!-- w-full px-5 mx-auto -->
        <div class="lg:flex">




            <main id="content-wrapper" class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
                <div class="flex w-full">

                    <div class="flex-auto min-w-0 pt-6 lg:px-8 lg:pt-8 pb:12 xl:pb-24 lg:pb-16">
                
                        <div class="text-center pb-4 mb-8 border-b border-gray-200 dark:border-gray-800 pl-15vw pr-15vw">

                            {% if user_is_creator or allowed_to_edit %}
                            <div>
                                <a href="{% url 'course_update' item.id %}" class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-5 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200" role="alert">
                                    <span class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 mr-3"><i class="fas fa-check-circle"></i></span>
                                    <span class="mr-2 text-sm font-medium">
                                        {% if user_is_creator %}You are this {{ obj_type }}'s creator{% else %}You have edit access to this {{ obj_type }}{% endif %}! Click here to edit it.
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="w-5 h-5"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                </a>
                            </div>
                            {% endif %}

                            {% if item.specialization %}
                            <div>
                                <a href="{% url 'specialization_detail' item.specialization.id %}" class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-5 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200" role="alert">
                                    <span class="text-xs bg-green-700 rounded-full text-white px-4 py-1.5 mr-3"><i class="fas fa-check-circle"></i></span>
                                    <span class="mr-2 text-sm font-medium">
                                        This course is part of the specialization <em>{{ item.specialization.title }}</em>.
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="w-5 h-5"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                </a>
                            </div>
                            {% endif %}
                    
                            <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">{{ item.title|safe }}</span></h1>
                            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{ item.description|safe }}</p>
                            
                            
                            <div class="flex flex-wrap justify-center pt-4 mt-4">
                                {% if request.user in item.purchasers.all %}
                                <button disabled href="{% url 'enroll' id=item.id obj_type=obj_type %}" type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-6 py-4 text-center ml-2 mr-2 mb-2"><i class="fas fa-check-circle"></i> Enrolled</button>
                                {% else %}
                                    {% if user_enrolled %}
                                    <a href="{% url 'enroll' id=item.id obj_type=obj_type %}" type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-6 py-4 text-center ml-2 mr-2 mb-2"><i class="fas fa-check-circle"></i> Enrolled</a>
                                    {% else %}
                                        {% if item.price > 0 %}
                                        {% comment %} <a href="{% url 'enroll' id=item.id obj_type=obj_type %}" type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-6 py-4 text-center ml-2 mr-2 mb-2">Purchase (${{ item.price|floatformat:2 }})</a> {% endcomment %}
                                        <a href="{% url 'checkout' obj_type item.id %}" type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-6 py-4 text-center ml-2 mr-2 mb-2" type="button" data-modal-toggle="popup-modal">
                                            Purchase (${{ item.price|floatformat:2 }})
                                        </a>
                                        {% elif item.price == 0%}
                                        <a href="{% url 'enroll' id=item.id obj_type=obj_type %}" type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-6 py-4 text-center ml-2 mr-2 mb-2">Enroll for free</a>  
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                <a href="{% url 'course_info_detail' item.id %}" type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-6 py-4 ml-2 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                                    <span>View {{ obj_type }} info &rarr;</span> 
                                </a>
                            </div>
                            
                        </div>
                
                        <div id="mainContent" class="pl-15vw pr-15vw">








{% if user_enrolled or allowed_to_edit or user_is_creator %}

    {% if all_modules|length == 0 %}
        <h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-2xl dark:text-white">This course is empty right now.</h1>
    {% else %}


        {% for module_key, module_inner in all_modules.items %}

            {% if module_inner.items %}
                <div id="accordion-open-module-{{ module_key.id }}" data-accordion="open" style="margin-top: 4rem;">

                    <h2 id="accordion-open-heading-module-{{ module_key.id }}">
                        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white" data-accordion-target="#accordion-open-body-module-{{ module_key.id }}" aria-expanded="true" aria-controls="accordion-open-body-module-{{ module_key.id }}">
                            <span class="flex items-center">
                                
                                <h1 class="mt-4 mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-2xl dark:text-white"><span class="text-blue-600 dark:text-blue-500">Module {{forloop.counter}}:&nbsp;&nbsp;</span> <a href="{% url 'module_detail' course.id module_key.id %}">{{module_key.title}}</a></h1>
                            </span>
                            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                      </h2>
                      <div id="accordion-open-body-module-{{ module_key.id }}" class="" aria-labelledby="accordion-open-heading-module-{{ module_key.id }}">
                        <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{ module_key.description|safe }}</p>
                        </div>
                      </div>

                    {% for submodule_key, submodule_inner in module_inner.items %} <!-- For --> 
                    <h2 id="accordion-open-heading-submodule-{{ submodule_key.id }}">
                        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-submodule-{{ submodule_key.id }}" aria-expanded="true" aria-controls="accordion-open-body-submodule-{{ submodule_key.id }}">
                            <span class="flex items-center">
                                {% comment %} <svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>  {% endcomment %}

                                Submodule {{forloop.counter}}:&nbsp;&nbsp;<a href="{% url 'submodule_detail' course.id module_key.id submodule_key.id %}">{{ submodule_key.title }}</a>  

                            </span>
                            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </h2>
                    <div id="accordion-open-body-submodule-{{ submodule_key.id }}" class="hidden" aria-labelledby="accordion-open-heading-submodule-{{ submodule_key.id }}">
                        <div class="p-5 font-light border border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="padding-left: 10vh; padding-right: 10vh;">
                            <p class="text-gray-500 dark:text-white">{{ submodule_key.description }}</p>
                            <p class="mb-2 dark:text-gray-500">This submodule takes an estimated {{ submodule_inner.time }} {% if submodule_key.estimated_hours_to_complete == 1%}hour{%else%}hours{% endif %} to complete.</p>
                            <p class="mt-4 mb-2 text-gray-500 dark:text-white" style="font-weight: 700;">Assignments:</p>


                            {% if submodule_inner.assignments %}
                            <ul class="list-inside dark:text-white font-medium mt-4">
                                {% for assignment in submodule_inner.assignments %}
                                <li class="w-100 single-line mb-2 dark:text-gray-400">
                                    {% if assignment.completed == "True" %}
                                    <i class="fas fa-check-circle w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0"></i>
                                    {% else %}
                                    <i class="fas fa-check-circle w-4 h-4 mr-1.5 text-gray-500 dark:text-gray-400 flex-shrink-0"></i>
                                    {% endif %}
                                    <a href="{% url 'assignment_detail' item.id module_key.id submodule_key.id assignment.assignment.id %}">{{ assignment.assignment }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="mt-4 mb-2 text-gray-500 dark:text-white" style="font-weight: 700;">There are not currently any assignments in this submodule.</p>
                            {% endif %}

                        </div>
                    </div>
                    {% endfor %} <!-- Endfor submodules -->
                </div>
            {% else %}
                <span class="dark:text-gray-400">Module is empty.</span> 
            {% endif %} <!-- End if module has inner items conditional. -->

        {% endfor %}


    {% endif %} <!-- End if modules length is 0 conditional. -->
{% endif %} <!-- End if user creator, enrolled, or has edit access conditional. -->
  


                        </div>

                    </div>

                </div>
            </main>




        </div>
    </div>
</main>



{% endblock main %}










