{% extends 'market/base.html' %}
{% load static %}

{% block title %}
{{ item.title }} | Map
{% endblock title %}

{% block main %}

{% if item.excel_upload %}
    {% if item.excel_upload.url %}
    <a href="{{ item.excel_upload.url }}">Download Excel</a>
    {% else %}
    No Download
    {% endif %}
{% endif %}

<a href="{% url 'get_events_as_geojson' item.id %}" download>Download events</a>
<a href="{% url 'get_events_as_geojson' item.id %}">View events</a>
<a type="button" href="{% url 'export_events_csv' item.id %}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Download Event objects as CSV file</a>

{% endblock main %}




