{% extends 'ecoles/base_ecoles.html' %}
{% load static %}

{% block title %}Einsatzstab Reichsleiter Rosenberg | Ca' de Bruno{% endblock title %}

{% block main_content_container %}

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            <h1 class="fw-bold">Einsatzstab Reichsleiter Rosenberg</h1>
                            <p class="lead"><i class="fas fa-check-circle"></i> You are enrolled in this course.</p>
                            <p class="lead"><i class="fas fa-check-circle"></i> You are the creator of this course.</p>
                            <a class="btn btn-lg btn-danger mb-2" href="#" role="button">Unenroll</a>
                            <a class="btn btn-lg btn-primary mb-2" href="#" role="button">View info &rarr;</a>
                        </div>
                    </div> 
                </div>

                <div class="row mb-4">

                    <div class="col-lg-12">


                        <div class="card mb-4 bg-lin-grad">
                            <div class="card-body">
                                <h5 class="card-title">Course info</h5>
                                <hr>
                                <div class="media text-muted">
                                    <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                                    <p class="card-text">
                                        The Reichsleiter Rosenberg Taskforce (German: Einsatzstab Reichsleiter 
                                        Rosenberg or ERR) was a Nazi Party organization dedicated to appropriating 
                                        cultural property during the Second World War. It was led by the chief ideologue 
                                        of the Nazi Party, Alfred Rosenberg, from within the NSDAP Office of Foreign Affairs. 
                                        Between 1940 and 1945, the ERR operated in France, Netherlands, Belgium, Poland, 
                                        Lithuania, Latvia, Estonia, Greece, Italy, and on the territory of the Soviet Union 
                                        in the Reichskommissariat Ostland and Reichskommissariat Ukraine. Much of the 
                                        looted material was recovered by the Allies after the war, and returned to rightful 
                                        owners, but there remains a substantial part that has been lost or remains with the 
                                        Allied powers.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="card mb-4 bg-lin-grad">
                            <div class="card-body">
                                <h5 class="card-title">Module 1: Formation</h5>
                                <hr>
                                <div class="media text-muted">
                                    <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                                    <p class="card-text">
                                        The ERR was initially a project of Hohe Schule der NSDAP, a Nazi-oriented elite university, which was subordinate to Alfred Rosenberg. Rosenberg wanted it to be a research institute filled with cultural material on the opponents of the Nazi ideology. These included Jewish, Masonic, Communist and democratic organizations from throughout Germany and from the occupied countries. Plans to build monumental buildings for the University on the shores of Lake Chiemsee failed to materialize after the outbreak of World War II.[1]
                                    </p>
                                </div>
                                <hr>
                                <div class="media">
                                    <div class="card mb-4" style="background: transparent;">
                                        <div class="card-body"> 
                                            <h5 class="card-title">Submodule 1: Origins</h5>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-check-circle icon-color-green mr-2"></i><a href="#" class="text-muted text-decoration-none">Alfred Rosenberg</p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-check-circle icon-color-green mr-2"></i><a href="#" class="text-muted text-decoration-none">Formation</p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-check-circle icon-color-green mr-2"></i><a href="#" class="text-muted text-decoration-none">Administration</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="card mb-4" style="background: transparent;">
                                        <div class="card-body"> 
                                            <h5 class="card-title">Submodule 2: In France</h5>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-check-circle icon-color-green mr-2"></i><a href="#" class="text-muted text-decoration-none">Occupation of France</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Headquarters in Paris</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Looting in Paris</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="card mb-4 bg-lin-grad">
                            <div class="card-body">
                                <h5 class="card-title">Module 2: Operations</h5>
                                <hr>
                                <div class="media text-muted">
                                    <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                                    <p class="card-text">
                                        The Einsatzstab Reichsleiter Rosenberg (ERR), the “Special Task Force” headed by Adolf Hitler’s leading ideologue Alfred Rosenberg, was one of the main Nazi agencies engaged in looting cultural valuables in Nazi-occupied countries during the Second World War. The detail with which the ERR documented the art, archives, books, and other Judaica it plundered has proved essential for the recovery of cultural valuables after the war and their return to victims or heirs.
                                    </p>
                                </div>
                                <hr>
                                <div class="media">
                                    <div class="card mb-4" style="background: transparent;">
                                        <div class="card-body"> 
                                            <h5 class="card-title">Submodule 1: Domestic Operations (Germany)</h5>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">German headquarters</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Relationship with Berlin</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="card mb-4" style="background: transparent;">
                                        <div class="card-body"> 
                                            <h5 class="card-title">Submodule 2: Operations in Western and Central Europe</h5>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in France</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Poland</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in the Netherlands</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Belgium</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Italy</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Greece</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Czechoslovakia</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Norway</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Lithuania</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="card mb-4" style="background: transparent;">
                                        <div class="card-body"> 
                                            <h5 class="card-title">Submodule 3: Operations in the former U.S.S.R.</h5>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Russia</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Belarus</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in Ukraine</a></p>
                                            <p class="media-body pb-3 mb-0 small lh-125"><i class="fas fa-circle mr-2"></i><a href="#" class="text-muted text-decoration-none">Operations in the rest of the U.S.S.R.</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>



                </div>

{% endblock main_content_container %}