{% extends "ecoles/base_ecoles.html" %}

<!-- Thank you to go.dev and stripe.com for styling and icons. Thank you to https://www.flaticon.com/premium-icon/sphere_2993659?term=sphere&related_id=2993659 and https://www.svgrepo.com/svg/71897/check-mark for the images. -->
<!-- https://www.bootdey.com/snippets/view/social-network-dashboard-count#html -->
{% load static %}

{% block title %}Feed | {{ title }}{% endblock title %}



{% block main_content_container %}



    <div class="py-2"></div>
        <div class="d-flex align-items-center p-3 my-3 text-dark-50 bg-lin-grad rounded shadow-sm">
            <div class="lh-100 ml-2">
                <h4 class="text-dark lh-100 mb-1" style="font-weight: 700;">{{ feed.title }}</h4>

                <div class="py-2"></div>

                <p class=""><strong>URL: </strong>{{feed.url}}</p>
                <p class=""><strong>Source: </strong>{{feed.source}}</p>

                {% if user.is_superuser %}
                    <a href="{% url 'feed-update' feed.id %}" class="btn btn-primary" type="button">Edit</a>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock main_content_container %}

