{% extends 'market/base.html' %}
{% load static %}

{% block title %}
Payment successful
{% endblock title %}

{% block main %}

<main class="grow" style="margin: 2%;">

    <div class="w-full px-5 mx-auto"> <!-- w-full px-5 mx-auto -->
        <div class="lg:flex">




            <main id="content-wrapper" class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
                <div class="flex w-full">

                    <div class="flex-auto min-w-0 pt-6 lg:px-8 lg:pt-8 pb:12 xl:pb-24 lg:pb-16">
                
                        <div class="text-center pb-4 mb-8 pl-15vw pr-15vw">


                            <div class="py-4"></div>
                            <div class="py-4"></div>
                            <div class="py-4"></div>
                            <div class="py-4"></div>
                            <div class="py-4">
                            <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"><i class="fas fa-check-circle"></i> Payment successful <i class="fas fa-check-circle" style="color: mediumturquoise;"></i></span></h1>
                            {% if other_party %}
                            <p class="text-lg font-normal text-dark lg:text-xl dark:text-white">
                                <a href="{% url 'detail' other_party.id %}">
                                    Click <u>here</u> to communicate with 
                                    {% if other_party.first_name and other_party.last_name %}
                                    {{ other_party.first_name }} {{ other_party.last_name }} (@{{ other_party.username }})
                                    {% else %}
                                    @{{ other_party.username }}
                                    {% endif %}
                                </a>
                            </p>
                            {% endif %}
                            {% if clothing %}
                            <p class="text-lg font-normal text-red-600 lg:text-xl dark:text-white">
                                <a href="{% url 'transaction-size-select' transaction.id %}">
                                    <i class="fas fa-exclamation-triangle"></i> Click <u>here</u> to select your size.
                                </a>
                            </p>
                            {% endif %}
{% comment %}
	                                {% if obj_type == 'listing' %}
	                                <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"><i class="fas fa-check-circle"></i> Payment successful <i class="fas fa-check-circle"></i></span></h1>
	                                <h3 class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE dark:text-white">
	                                    For security purposes, your payment has been placed into escrow. It will only go through to the seller if you verify that they have provided the good or service that you purchased. In order to verify this, click this <a style="color: violet;" href="{% url 'my_payments' %}">link</a>.
	                                </h3>
	                                <h5 class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">
	                                    Hoyabay&trade; places the utmost importance on security and integrity. As a buyer, if you have received the good or service as advertised and do not verify the payments, punishments ranging from forfeiture of the money in escrow to expulsion from Hoyabay&trade; will swiftly follow.
	                                </h5>
	                                {% else %} <!-- obj_type == 'course' or obj_type == 'specialization' -->
	                                <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"><i class="fas fa-check-circle" style="color: rgb(28 100 242);"></i> Payment successful</span></h1>
	                                {% endif %}
	
{% endcomment %}                            </div>   
                            <div class="py-4"></div>
                            <div class="py-4"></div>
                            <div class="py-4"></div>
                            <div class="py-4"></div>                         
                            

                        </div>
                
                        <div id="mainContent" class="pl-15vw pr-15vw">



                            
                            

                            

                    
                        </div>

                    </div>


                

                </div> 


                
            </main> 


        </div>
    </div>


    



</main>

{% endblock main %}




