{% extends 'base/base_nav.html' %}
{% load humanize %}
{% load static %}


{% block title %}{{ article_title }}{% endblock title %}


{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
{% endblock css_links %}


{% block main %}

<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">


            <div class="row">
                <div class="col-md-10 offset-md-1 mt-4">
                    <div class="card">
                        <div class="card-body font-size-12">
                            <h5 class="card-title">Data</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-3">
                                <span class="d-flex mb-2">
                                    <small><strong class="mr-1">Source:</strong> {{ article_source }}</small>
                                </span>
                                <span class="d-flex mb-2">
                                <small>
                                    <strong class="mr-1">Link:</strong>
                                    <strong><a class="text-muted text-decoration-none" target="_blank" href="{{ article_url }}">Visit &rarr;</a></strong>
                                </small>
                                </span>
                                <span class="d-flex mb-2">
                                <small><strong class="mr-1">Title:</strong> {{ article_title}}</small>
                                </span>
                                {% if article_published_date %}
                                <span class="d-flex">
                                <small><strong class="mr-1">Date:</strong> {{ article_published_date}}</small>
                                </span>
                                {% endif %}
                                {% if article_author %}
                                <span class="d-flex">
                                <small><strong class="mr-1">Author(s):</strong> {{ article_author }}</small>
                                </span>
                                {% endif %}
                                {% if article_description %}
                                <span class="d-flex">
                                <small><strong class="mr-1">Description:</strong> <span class="">{{ article_description }}</span></small>
                                </span>
                                {% endif %}
        
                                </li>
                            </ul>
                        </div>
                      </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-10 offset-md-1 mt-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Notes</h5>
                            <div class="mb-3 mt-2">
                            <input class="form-control form-control-sm" type="text" placeholder="Title..." aria-label="Title" id="user-note-title">
                            </div>
                          <div class="mb-3 mt-2">
                            <textarea class="form-control form-control-sm" rows="3" placeholder="Start typing here..." id="user-note-text"></textarea>
                          </div>
                          <button id="save-user-note-btn" class="btn btn-sm btn-outline-navy w-100">Save</button>
                          {% if article_note %}
                          <script>
                              document.getElementById("user-note-title").value = "{{ article_note.title|safe }}";
                              document.getElementById("user-note-text").value = "{{ article_note.note|safe }}";
                          </script>
                          {% endif %}
                        </div>
                      </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 offset-md-1 mt-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Translate</h5>
                          {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                          <select class="form-select form-select-sm mt-2" aria-label="Default select example" id="src_dropdown">
                                <option value="en" selected>English</option>
                                {% for abbrev, lang in LANGUAGES.items %}
                                    <option value="{{ abbrev }}">{{ lang }}</option>
                                {% endfor %}
                          </select>
                          <select class="form-select form-select-sm mt-2" aria-label="Default select example" id="dest_dropdown">
                                <option value="en" selected>English</option>
                                {% for abbrev, lang in LANGUAGES.items %}
                                    <option value="{{ abbrev }}">{{ lang }}</option>
                                {% endfor %}
                          </select>
                          <div class="mb-3 mt-2">
                            <textarea class="form-control form-control-sm" id="textToTranslate" rows="3" placeholder="Type text to translate..."></textarea>
                          </div>
                          <button id="translate-btn" class="btn btn-sm btn-outline-navy w-100 mb-2">Translate</button>
                          <div class="card mt-2">
                            <div class="card-body font-size-12" id="translation" style="height: 150px; overflow-y: scroll;"></div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 offset-md-1 mt-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Wikipedia Search</h5>
                          {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                          <select class="form-select form-select-sm mt-2" aria-label="Default select example" id="wiki-src-lang">
                                <option value="en" selected>English</option>
                                {% for abbrev, lang in LANGUAGES.items %}
                                    <option value="{{ abbrev }}">{{ lang }}</option>
                                {% endfor %}
                          </select>
                          <div class="mb-3 mt-2">
                            <input class="form-control form-control-sm" type="text" placeholder="Enter query" aria-label="Wikipedia query" id="wiki-query" aria-describedby="wikipediaQueryAria">
                          </div>
                          <button class="btn btn-sm btn-outline-navy w-100 mb-2" id="wikipedia-summary-btn">Search</button>
                          <div class="card mt-2 font-size-12">
                            <div class="card-body" style="height: 150px; overflow-y: scroll;">
                                <a href="#" type="button" class="btn btn-outline-navy btn-sm w-100 mb-2" id="wiki-summary-page-url" target="_blank" style="display: none;"></a> 
                                <div class="card-title font-size-12 fw-bold" id="wiki-summary-output-title"></div>
                                <div class="card-text font-size-12 mt-2" id="wiki-summary-output"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 offset-md-1 mt-4 mb-4">
                    <button type="button" class="btn btn-sm btn-outline-navy w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Launch map
                      </button>
                </div>
            </div>


          
          

              

        </div>
      </nav>
  
      <main class="col-md-8 offset-md-3 ms-sm-auto col-lg-9 px-md-4">
        <div id="main-content" style="padding-top: 5vh; padding-left: 5vw; padding-right: 5vw;">

              <div class="container">
                <div class="row">
    
                    <!-- COL -->
                        <div class="col-lg-12">
                          {% if messages %}
                            {% for message in messages %}
                              <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>
                    <!-- COL -->
                </div>


                <div class="row mt-4">

                    <div class="col-lg-12 meta-row notranslate" id="article-title-original">
    
                        <p><a target="_blank" class="article_url_link external-source-link text-muted text-decoration-none fw-bold" href="{{ article_url }}">{{ article_source }} <i class="fas fa-angle-right"></i> </a></p>
                        <div class="mt-4 mb-4 single-article-title"><h3 id="article-title"><strong class="fw-bold">{{ article_title|safe }}</strong></h3></div>
    
                        {% if article_description %}
                            <h6 class="card-subtitle mb-2 text-muted" style="font-weight: 600;">
                                {{ article_description }}
                            </h6>
                        {% endif %}
    
                        <h6 class="card-subtitle mt-4 mb-4">
                            {% if article_author %}
                                <span class="single-article-author" style="font-weight: 600;">{{ article_author }}</span>
                            {% endif %}
                            {% if article_published_date %}
                                <span class="single-article-date" style="font-weight: 600;">{{ article_published_date }}</span>
                            {% endif %}
                        </h6>
    
                    </div>
    
                    <div class="col-lg-6 meta-row" id="article-title-translate" style="display: none;">
                        
                        <p><a target="_blank" class="article_url_link external-source-link text-muted text-decoration-none fw-bold" href="{{ article_url }}">{{ article_source }} <i class="fas fa-angle-right"></i> </a></p>
                        <div class="mt-4 mb-4 single-article-title"><h3 id="article-title"><strong class="fw-bold">{{ article_title|safe }}</strong></h3></div>
    
                        {% if article_description != "" %}
                            <h6 class="card-subtitle mb-2 text-muted" style="font-weight: 600;">
                                {{ article_description }}
                            </h6>
                        {% endif %}
    
                        <h6 class="card-subtitle mt-4 mb-4">
                            {% if article_author %}
                                <span class="single-article-author" style="font-weight: 600;">{{ article_author }}</span>
                            {% endif %}
                            {% if article_published_date %}
                                <span class="single-article-date" style="font-weight: 600;">{{ article_published_date }}</span>
                            {% endif %}
                        </h6>
    
                    </div>
    
                </div>






                <div class="row mb-4">


                    <div class="col-lg-6 notranslate" id="article-button-original">
    
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
                                {% if article_is_starred %}
                                    <a href="{% url 'star_article' id=article_id article_searched_by=article_searched_by %}" type="button" class="btn btn-outline-navy text-warning"> <i class="fas fa-star" title="Star this article" id="article_already_starred"></i> </a>
                                {% else %}
                                    <a href="{% url 'star_article' id=article_id article_searched_by=article_searched_by %}" type="button" class="btn btn-outline-navy text-muted"> <i class="fas fa-star" title="Remove star" id="article_not_already_starred"></i> </a>
                                {% endif %}
                
                                {% if article_is_bookmarked %}
                                    <a href="{% url 'bookmark_article' id=article_id article_searched_by=article_searched_by %}" type="button" class="btn btn-outline-navy text-success"> <i class="fas fa-bookmark" title="Bookmark this article" id="article_already_bookmarked"></i> </a>
                                {% else %}
                                    <a href="{% url 'bookmark_article' id=article_id article_searched_by=article_searched_by %}" type="button" class="btn btn-outline-navy text-muted"> <i class="fas fa-bookmark" title="Remove bookmark" id="article_not_already_bookmarked"></i> </a>
                                {% endif %}

                                {% if article_is_flagged %}
                                    <a href="{% url 'flag_article' id=article_id article_searched_by=article_searched_by %}" type="button" class="btn btn-outline-navy text-danger"> <i class="fas fa-flag" title="Flag this article" id="article_already_flagged"></i> </a>
                                {% else %}
                                    <a href="{% url 'flag_article' id=article_id article_searched_by=article_searched_by %}" type="button" class="btn btn-outline-navy text-muted"> <i class="fas fa-flag" title="Remove flag" id="article_not_already_flagged"></i> </a>
                                {% endif %}
                            </div>
                            <div class="btn-group me-2 mb-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-outline-navy split-section-off" id="split-section"> <!-- onclick="splitSection()" -->
                                    Turn split section on
                                </button>
                            </div>
                          </div>
    
                    </div>
    

                    <div class="col-lg-6" id="article-button-translate" style="display: none;">
    
                        <div class="card" style="border: 1px solid rgba(0,0,0,.125) !important; border-radius: .25rem !important;">
                            <div class="card-body">
                                <small class="text-muted">Use this split section to translate articles into the language of your choosing.</small>
                                <div class="btn-toolbar mt-2 mb-2 mb-md-0" style="width: 100% !important;">
                                    <div class="btn-group mr-2" style="width: 100% !important;">
                                        <button class="btn" style="width: 100% !important;"><small><div id="google_translate_element"></div></small></button>
                                    </div>
                                </div>
                            </div> <!-- End card body-->
                        </div> <!-- End card-->

                    </div> <!-- End col-->


                </div> <!-- End row -->




                <div class="container">
                    <div class="row">
      
                        <div class="col-lg-12 article-text notranslate" id="article-text-original">
                            {{ text|safe }}
                        </div>
                        <div class="col-lg-6 article-text" id="article-text-translate" style="display: none;">
                            {{ text|safe }}
                        </div>
      
                    </div>
                </div>





  
  
        

      




      </main>
    </div>
  </div>

  <!-- Maps Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="reviewModal" aria-labelledby="reviewModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reviewModalLabel">Rate this article...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="rating">
                <span id="5-stars">☆</span><span id="4-stars">☆</span><span id="3-stars">☆</span><span id="2-stars">☆</span><span id="1-star">☆</span>
            </div>

            {% if article_rating %}
                {% if article_rating.stars == 1 %}
                <script>
                    document.getElementById("1-star").classList.add("color-gold");
                </script>
                {% elif article_rating.stars == 2 %}
                <script>
                    document.getElementById("1-star").classList.add("color-gold");
                    document.getElementById("2-stars").classList.add("color-gold");
                </script>
                {% elif article_rating.stars == 3 %}
                <script>
                    document.getElementById("1-star").classList.add("color-gold");
                    document.getElementById("2-stars").classList.add("color-gold");
                    document.getElementById("3-stars").classList.add("color-gold");
                </script>
                {% elif article_rating.stars == 4 %}
                <script>
                    document.getElementById("1-star").classList.add("color-gold");
                    document.getElementById("2-stars").classList.add("color-gold");
                    document.getElementById("3-stars").classList.add("color-gold");
                    document.getElementById("4-stars").classList.add("color-gold");
                </script>
                {% elif article_rating.stars == 5 %}
                <script>
                    document.getElementById("1-star").classList.add("color-gold");
                    document.getElementById("2-stars").classList.add("color-gold");
                    document.getElementById("3-stars").classList.add("color-gold");
                    document.getElementById("4-stars").classList.add("color-gold");
                    document.getElementById("5-stars").classList.add("color-gold");
                </script>
                {% endif %}
            {% endif %}
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
      
    
  

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Free_France_%281940-1944%29_Cross_of_Lorraine_variant.svg" alt="Ca' de Bruno" width="30" height="24" class="d-inline-block align-text-top me-2">
        <strong class="me-auto">Ca' de Bruno</strong>
        <small>Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <i class="fas fa-check-circle icon-color-green"></i> Your note has been saved.
      </div>
    </div>
  </div>


{% endblock main %}

{% block JavaScript %}


        <script defer>
        
            function splitSection() {
                article_section = document.getElementById("article-text-original");
                article_section.classList.remove("col-lg-12");
                article_section.classList.add("col-lg-6");

                translate_section = document.getElementById("article-text-translate");
                translate_section.style.display = "inline";
            }










            $(document).ready(function(){

                $("#split-section").click(function(e){
                    e.preventDefault();
                    btn = document.querySelector("#split-section");

                    article_title = document.getElementById("article-title-original");
                    translate_title = document.getElementById("article-title-translate");

                    article_section = document.getElementById("article-text-original");
                    translate_section = document.getElementById("article-text-translate");

                    article_button_translate = document.getElementById("article-button-translate");

                    if (btn.classList.contains("split-section-off")) {

                        // Original when you go on the page.
                        btn.innerHTML = "<small>Turn split section off</small>";
                      
                        article_section.classList.remove("col-lg-12");
                        article_section.classList.add("col-lg-6");
                        article_title.classList.remove("col-lg-12");
                        article_title.classList.add("col-lg-6");

                        translate_section.style.display = "inline";
                        translate_title.style.display = "inline";

                        article_button_translate.style.display = "inline";

                        btn.classList.remove("split-section-off");
                    } else {

                        btn.innerHTML = "<small>Turn split section on</small>";

                        translate_section.style.display = "none";
                        translate_title.style.display = "none";
                        article_button_translate.style.display = "none";

                        article_section.classList.remove("col-lg-6");
                        article_section.classList.add("col-lg-12");
                        article_title.classList.remove("col-lg-6");
                        article_title.classList.add("col-lg-12");

                        btn.classList.add("split-section-off");
                    }
                    btn.classList.toggle("split-section-on");
      
                });
      
              });
            
        </script>



        <script defer>          
            $('#translate-btn').on('click', function (clickEvent) {
                url = window.location.href;
                article_searched_by = "{{ article_searched_by|safe }}";
                article_id = "{{ article_id|safe }}";
                $.ajax({
                    url: `/news/article/${article_searched_by}/${article_id}/`,
                    type: 'get',
                    dataType: 'json',
                    data: {
                        src: document.getElementById("src_dropdown").value,
                        dest: document.getElementById("dest_dropdown").value,
                        original_text: document.getElementById("textToTranslate").value
                    },
                    error: function(response) {
                        console.log(response);
                    },
                    success: function(response) {
                        console.log(response);
                        console.log(response.translated_text);
                        document.getElementById("translation").innerHTML = response.translated_text;
                    }
                });
            }); 
  
            $('#wikipedia-summary-btn').on('click', function (clickEvent) {
              url = window.location.href;
              article_searched_by = "{{ article_searched_by|safe }}";
              article_id = "{{ article_id|safe }}";
              $.ajax({
                  url: `/news/article/${article_searched_by}/${article_id}/`,
                  type: 'get',
                  dataType: 'json',
                  data: {
                      lang: document.getElementById("wiki-src-lang").value,
                      wiki_query: document.getElementById("wiki-query").value
                  },
                  error: function(response) {
                      console.log(response);
                  },
                  success: function(response) {
                      console.log(response); // results, wiki_page_url, summary
                      console.log(response.summary);
                      document.getElementById("wiki-summary-output-title").innerHTML = response.first_result_title;
                      document.getElementById("wiki-summary-output").innerHTML = response.summary;
                      document.getElementById("wiki-summary-page-url").style.display = "inline";
                      document.getElementById("wiki-summary-page-url").href = response.wiki_page_url;
                      document.getElementById("wiki-summary-page-url").innerHTML = "View article in full <i class='fas fa-angle-right'></i>";
                  }
              });
            });

            $('#save-user-note-btn').on('click', function (clickEvent) {
                url = window.location.href;
                article_searched_by = "{{ article_searched_by|safe }}";
                article_id = "{{ article_id|safe }}";
                $.ajax({
                    url: `/news/article/${article_searched_by}/${article_id}/`,
                    type: 'get',
                    dataType: 'json',
                    data: {
                        user_note_title: document.getElementById("user-note-title").value,
                        user_note_text: document.getElementById("user-note-text").value
                    },
                    error: function(response) {
                        console.log(response);
                    },
                    success: function(response) {
                        console.log(response); // results, wiki_page_url, summary
                        document.getElementById("user-note-title").value = response.user_note_title_updated;
                        document.getElementById("user-note-text").value = response.user_note_text_updated;
                        
                        const toastTrigger = document.getElementById('liveToastBtn')
                        const toastLiveExample = document.getElementById('liveToast')
                        const toast = new bootstrap.Toast(toastLiveExample);
                        toast.show();

                    }
                });
            });
  
  
        </script>
  


        <!-- Begin Google Translate -->
        <script type="text/javascript" defer>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <!-- End Google Translate -->

        <script>
        
            document.addEventListener('DOMContentLoaded', function(e) {
                document.addEventListener('scroll', function(e) {
                    let documentHeight = document.body.scrollHeight;
                    let currentScroll = window.scrollY + window.innerHeight;
                    // When the user is [modifier]px from the bottom, fire the event.
                    let modifier = 200; 
                    if(currentScroll + modifier > documentHeight) {
                        $("#reviewModal").modal('show');
                    }
                })
            })





            document.querySelector('.rating').addEventListener('click', reviewArticle, false);
            function hide(evt) {
                console.log(evt.target);
              }

            function reviewArticle(clickEvent) {
                url = window.location.href;
                article_searched_by = "{{ article_searched_by|safe }}";
                article_id = "{{ article_id|safe }}";
                $.ajax({
                    url: `/news/article/${article_searched_by}/${article_id}/`,
                    type: 'get',
                    dataType: 'json',
                    data: {
                        element_id: clickEvent.target.id
                    },
                    error: function(response) {
                        console.log(response);
                    },
                    success: function(response) {
                        console.log(response); // results, wiki_page_url, summary
                        stars = response.stars;
                        if (response.stars == 1) {
                            document.getElementById("1-star").classList.add("color-gold");
                            document.getElementById("2-stars").classList.remove("color-gold");
                            document.getElementById("3-stars").classList.remove("color-gold");
                            document.getElementById("4-stars").classList.remove("color-gold");
                            document.getElementById("5-stars").classList.remove("color-gold");
                        } else if (response.stars == 2) {
                            document.getElementById("1-star").classList.add("color-gold");
                            document.getElementById("2-stars").classList.add("color-gold");
                            document.getElementById("3-stars").classList.remove("color-gold");
                            document.getElementById("4-stars").classList.remove("color-gold");
                            document.getElementById("5-stars").classList.remove("color-gold");
                        } else if (response.stars == 3) {
                            document.getElementById("1-star").classList.add("color-gold");
                            document.getElementById("2-stars").classList.add("color-gold");
                            document.getElementById("3-stars").classList.add("color-gold");
                            document.getElementById("4-stars").classList.remove("color-gold");
                            document.getElementById("5-stars").classList.remove("color-gold");
                        } else if (response.stars == 4) {
                            document.getElementById("1-star").classList.add("color-gold");
                            document.getElementById("2-stars").classList.add("color-gold");
                            document.getElementById("3-stars").classList.add("color-gold");
                            document.getElementById("4-stars").classList.add("color-gold");
                            document.getElementById("5-stars").classList.remove("color-gold");
                        } else if (response.stars == 5) {
                            document.getElementById("1-star").classList.add("color-gold");
                            document.getElementById("2-stars").classList.add("color-gold");
                            document.getElementById("3-stars").classList.add("color-gold");
                            document.getElementById("4-stars").classList.add("color-gold");
                            document.getElementById("5-stars").classList.add("color-gold");
                        }
                        
                    }
                });
            }
            
        </script>
        
        
        
{% endblock JavaScript %}