{% extends 'news/base_news.html' %}
{% load static %}
{% load humanize %}

{% block title %}Query: {{ search_term }} | Ca' de Bruno{% endblock title %}

{% block main_content_container %}

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            <h1 class="fw-bold">News Search</h1>
                            {% if search_article_by == "url" %}
                                <p class="lead">Query History (Single Article By URL)</p>
                            {% elif search_article_by == "single_article" %}
                                <p class="lead">Query History (Single Article By Title)</p>
                            {% elif search_article_by == "multiple_articles" %}
                                <p class="lead">Query History (Multiple Articles By Title)</p>
                            {% else %}
                                My Search History
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row mb-4">

                    <div class="col-lg-12">
                        <div class="list-group w-auto">
                            <div class="list-group-item list-group-item-action d-flex gap-3 py-3 w-100 bg-lin-grad" aria-current="true">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                  <div>
                                    <h6 class="mb-0 fw-bold">
                                        {% if search_article_by == "url" %}
                                            Query History (Single Article By URL)
                                        {% elif search_article_by == "single_article" %}
                                            Query History (Single Article By Title)
                                        {% elif search_article_by == "multiple_articles" %}
                                            Query History (Multiple Articles By Title)
                                        {% else %}
                                            My Search History
                                        {% endif %}
                                    </h6>
                                  </div>
                                  {% comment %} <small class="opacity-50 text-nowrap">{{ len_of_news_arr }} results</small> {% endcomment %}
                                </div>
                            </div>
                            {% for article in items %}

                                    {% if article.URL and not article.query %}

                                            <a href="{% url 'news-article-detail-by-url' article.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3 w-100" aria-current="true">
                                                <div class="d-flex gap-2 w-100 justify-content-between">
                                                    <div>
                                                    <h6 class="mb-0">URL Query: {{ article.URL }}</h6>
                                                    </div>
                                                </div>
                                            </a>

                                    {% elif article.query and article.URL %}

                                            <a href="{% url 'news-article-detail-by-title' article.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3 w-100" aria-current="true">
                                                <div class="d-flex gap-2 w-100 justify-content-between">
                                                    <div>
                                                    <h6 class="mb-0">Article Query: {{ article.query }}</h6>
                                                    </div>
                                                </div>
                                            </a>

                                    {% else %}

                                            <a href="{% url 'news-articles-detail-by-title' article.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3 w-100" aria-current="true">
                                                <div class="d-flex gap-2 w-100 justify-content-between">
                                                    <div>
                                                    <h6 class="mb-0">Search Query: {{ article.query }}</h6>
                                                    </div>
                                                </div>
                                            </a>

                                    {% endif %}

                            {% endfor %}
                        </div>
                    </div>

                </div>

{% endblock main_content_container %}