{% extends 'news/base_news.html' %}
{% load static %}
{% load humanize %}
{% load auth_extras %}


{% block title %}| Ca' de Bruno{% endblock title %}

{% block main_content_container %}

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            <h1 class="fw-bold">News Search</h1>
                            <p class="lead"><i class="fas fa-check icon-color-green"></i> You currently have access to News Search.</p>
                            <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#newsSearchSettingsModal">
                              View settings &raquo;
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-lg-4 mt-2 mb-2">

                        <div class="list-group w-auto">
                            <a href="{% url 'news-article-search-by-url' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/273992/check.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Get article by URL</h6>
                                  <p class="mb-0 opacity-75">Read various news articles by simply entering the URL.</p>
                                </div>
                              </div>
                            </a>
                            <a href="{% url 'news-article-search-by-title' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/273992/check.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Get article by title</h6>
                                  <p class="mb-0 opacity-75">Not recommended; Google tries to prevent scraping.</p>
                                </div>
                              </div>
                            </a>
                            <a href="{% url 'news-articles-search-by-title' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/273992/check.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Get articles by title</h6>
                                  <p class="mb-0 opacity-75">Not recommended; Google tries to prevent scraping.</p>
                                </div>
                              </div>
                            </a>
                        </div>
                          
                    </div>
                    <div class="col-lg-4 mt-2 mb-2">
                        <div class="list-group w-auto">
                            <a href="{% url 'news-article-search-by-url' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/109905/star.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Starred articles</h6>
                                  <p class="mb-0 opacity-75">Your favorites.</p>
                                </div>
                              </div>
                            </a>
                            <a href="{% url 'news-article-search-by-title' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/43742/bookmark.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Bookmarked articles</h6>
                                  <p class="mb-0 opacity-75">Articles to revisit soon.</p>
                                </div>
                              </div>
                            </a>
                            <a href="{% url 'news-articles-search-by-title' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/249097/flag.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">Flagged articles</h6>
                                  <p class="mb-0 opacity-75">Articles that you think may have problems.</p>
                                </div>
                              </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2 mb-2">
                        <div class="list-group w-auto">
                            <a href="{% url 'news-article-search-by-url' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/273992/check.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">History (article by URL)</h6>
                                  <p class="mb-0 opacity-75">View the articles you've read after having searched for them by their URL.</p>
                                </div>
                              </div>
                            </a>
                            <a href="{% url 'news-article-search-by-title' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/273992/check.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">History (article by title)</h6>
                                  <p class="mb-0 opacity-75">View the articles you've read after having searched for them by their title.</p>
                                </div>
                              </div>
                            </a>
                            <a href="{% url 'news-articles-search-by-title' %}" class="list-group-item list-group-item-action news-dashboard-item d-flex gap-3 py-3" aria-current="true">
                              <img src="https://www.svgrepo.com/show/273992/check.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                              <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                  <h6 class="mb-0">History (articles by title)</h6>
                                  <p class="mb-0 opacity-75">View all your queries here.</p>
                                </div>
                              </div>
                            </a>
                        </div>
                    </div>
                  </div>
              

<!-- Modal -->
<div class="modal fade" id="newsSearchSettingsModal" tabindex="-1" aria-labelledby="newsSearchSettingsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newsSearchSettingsModalLabel">News Search Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><i class="fas fa-check icon-color-green"></i> You currently have access to News Search.</p>
        <a type="button" class="btn btn-danger" href="{% url 'delete_access' %}">Delete Access</a>
      </div>
    </div>
  </div>
</div>

{% endblock main_content_container %}