{% extends 'market/base.html' %}
{% load static %}
{% load auth_extras %}


{% block title %}
{{ header }}
{% endblock title %}

{% block main %}



<main class="grow" style="margin: 2%;">

    <div class="w-full px-5 mx-auto"> <!-- w-full px-5 mx-auto -->
        <div class="lg:flex">




            <main id="content-wrapper" class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
                <div class="flex w-full">

                    <div class="flex-auto min-w-0 pt-6 lg:px-8 lg:pt-8 pb:12 xl:pb-24 lg:pb-16">
                
                        <div class="text-center pb-4 mb-8 pl-15vw pr-15vw">

                    
                            <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">{{ header }}</h1>
                            
                            
                            
                                                        
                        </div>
                
                        <div id="mainContent" class="pl-15vw pr-15vw">





                                

                                





<div class="w-100 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Feedback</h5>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for item in items %}
            <li class="py-3 sm:py-4">
                <a href="{% url 'customer-message-detail' item.id %}">
                    <div class="flex items-center space-x-4">
                        <div>
                            <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2">View &rarr;</button>
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                {{ item.title }}
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                Feedback provided by {{ item.author }} on {{ item.date_posted }}
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
   </div>
</div>

























                    
                        </div>

                    </div>


                

                </div> 
                
            </main> 


        </div>
    </div>


    



</main>

{% endblock main %}




