{% extends "market/dependencies.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block body %}


<link rel="stylesheet" href="https://flowbite.com/application-ui/demo/app.css">


<main class="jtAJHOc7mn7b4IKRO59D h8KYXnua2NT4kTVzieom">
    <div class="YRrCJSr_j5nopfm4duUc e8VqoQNK0mbkRFDL3LMV Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU JGzJOGfW2x0VXm_3WgQB ce5FeZ9ko_gHK0Ny73hz YajDCE_nRj_FDIevNpsd KIoDZDiDZQzT3K26HO9T pt:mt-0 h8KYXnua2NT4kTVzieom">
      <a href="#" class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU HpZzxvgSmWLxwGF95rQK q1oXbofRCOhVhOSB8tiU yM_AorRf2jSON3pDsdrz jf_cbOmwTWYNge_xgG4B OyABRrnTV_kvHV7dJ0uE">
          <img src="https://www.svgrepo.com/show/76153/sailboat.svg" class="y7LTF_4HCOoAzmZm_v8k TZANVyZaogC2vtqxZ7oo" alt="FlowBite Logo">
          <span style="font-size: 40px !important;">HoyaBay</span>  
      </a>
      <!-- Card -->
      <div class="Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU t6gkcSf0Bt4MLItXvDJ_ _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YtPVN_LlqV6t4rglMAI fMgHUheWh_tlS12QmZV7 P9GeNSEWTjwr5S8oYXzg 2xl:max:max-w-screen-lg _74Ro6wvR4pVSwhxRa2l _1jTZ8KXRZul60S6czNi">
          <div class="_SmdlCf6eUKB_V9S5IDj o7fm00O9VUdt_v_JkdMI _YtPVN_LlqV6t4rglMAI">
              <img class="Zbcg0Bjzm_C_64FAwnE3" src="https://ethereum.org/static/754d2f72ce2296fb59d9d974aeda16be/1e993/future_transparent.webp" alt="login image">
          </div>
          <div class="t6gkcSf0Bt4MLItXvDJ_ IvHclGgvMLtYg_ow0uba b2voPh7pqNbYIn9ArgrM BJhi2nPur3FVtXfbBkqr _RuYfOgGb_Zp_Qy2emT5 vXKUKRP3PRKQ_RH5opI2">
                <br><br><br>
              <h2 class="q1oXbofRCOhVhOSB8tiU IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl _oly1OhnXZd0iSfUzCDU OyABRrnTV_kvHV7dJ0uE">
                  Reset password
              </h2>
              <form class="R2oNx0cNtxO_M_VVt390 qDsn8ha5_HppqMcLKJwF" method="POST">
                {% csrf_token %}{{ form|crispy }}
                  <button type="submit" class="t6gkcSf0Bt4MLItXvDJ_ ZjWEEmDsdPvU2GdH53LK i8v96MUlFwGv9qJUkAx7 d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe ijrOHNoSVGATsWYKl4Id y6GKdvUrd7vp_pxsFb57 g40_g3BQzYCOX5eZADgY mveJTCIb2WII7J4sY22F YoPCmQ0E_V5W0GGmSIdm _dylIDxYTN3qgvD4U597 KmgKPWh7pHX4ztLneO0T icxWjIgUd9_dzYucx1nx d8_fVOcgDmbt7UdpfeLK WuKugQzwTT7o1wwBck2R _ZsTMX_gz275093orLWM">Reset password</button>
              </form>
              <br><br><br>
          </div>
      </div>
  </div>
  
  </main>
  





  


    

<script>

    const password_input_1 = document.getElementById("id_new_password1");
    password_input_1.placeholder = "Password";
    password_input_1.classList.add("jtAJHOc7mn7b4IKRO59D");
    password_input_1.classList.add("pXhVRBC8yaUNllmIWxln");
    password_input_1.classList.add("vpDN1VEJLu5FmLkr5WCk");
    password_input_1.classList.add("__9sbu0yrzdhGIkLWNXl");
    password_input_1.classList.add("gx_pYWtAG2cJIqhquLbx");
    password_input_1.classList.add("mveJTCIb2WII7J4sY22F");
    password_input_1.classList.add("GdTcGtoKP5_bET3syLDl");
    password_input_1.classList.add("LceKfSImrGKQrtDGkpBV");
    password_input_1.classList.add("_Vb9igHms0hI1PQcvp_S");
    password_input_1.classList.add("t6gkcSf0Bt4MLItXvDJ_");
    password_input_1.classList.add("olxDi3yL6f0gpdsOFDhx");
    password_input_1.classList.add("jqg6J89cvxmDiFpnV56r");
    password_input_1.classList.add("Mmx5lX7HVdrWCgh3EpTP");
    password_input_1.classList.add("H7KQDhgKsqZaTUouEUQL");
    password_input_1.classList.add("OyABRrnTV_kvHV7dJ0uE");
    password_input_1.classList.add("KpCMWe32PQyrSFbZVput");
    password_input_1.classList.add("q6szSHqGtBufkToFe_s5");
    labels = document.querySelectorAll("label.requiredField");

    const password_input_2 = document.getElementById("id_new_password2");
    password_input_2.placeholder = "Password";
    password_input_2.classList.add("jtAJHOc7mn7b4IKRO59D");
    password_input_2.classList.add("pXhVRBC8yaUNllmIWxln");
    password_input_2.classList.add("vpDN1VEJLu5FmLkr5WCk");
    password_input_2.classList.add("__9sbu0yrzdhGIkLWNXl");
    password_input_2.classList.add("gx_pYWtAG2cJIqhquLbx");
    password_input_2.classList.add("mveJTCIb2WII7J4sY22F");
    password_input_2.classList.add("GdTcGtoKP5_bET3syLDl");
    password_input_2.classList.add("LceKfSImrGKQrtDGkpBV");
    password_input_2.classList.add("_Vb9igHms0hI1PQcvp_S");
    password_input_2.classList.add("t6gkcSf0Bt4MLItXvDJ_");
    password_input_2.classList.add("olxDi3yL6f0gpdsOFDhx");
    password_input_2.classList.add("jqg6J89cvxmDiFpnV56r");
    password_input_2.classList.add("Mmx5lX7HVdrWCgh3EpTP");
    password_input_2.classList.add("H7KQDhgKsqZaTUouEUQL");
    password_input_2.classList.add("OyABRrnTV_kvHV7dJ0uE");
    password_input_2.classList.add("KpCMWe32PQyrSFbZVput");
    password_input_2.classList.add("q6szSHqGtBufkToFe_s5");
    labels = document.querySelectorAll("label.requiredField");
    for (label of labels) {
        label.style.display = "none";
    }
    
</script>

{% endblock body %}