{% extends 'market/dashboard/dashboard_base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
{{ header }}
{% endblock title %}

{% block external_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock external_css %}

{% block main %}

<!-- Tooltip styling for copy button: -->
<style>
        .tooltip {
          position: relative;
          display: inline-block;
        }
        
        .tooltip .tooltiptext {
          visibility: hidden;
          width: 140px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -75px;
          opacity: 0;
          transition: opacity 0.3s;
        }
        
        .tooltip .tooltiptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
</style>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="xCPtuxM4_gihvpPwv9bX Nu4HUn5EQpnNJ1itNkrd RZmKBZs1E1eXw8vkE6jY mlwbuv_bMkMhzTA3msA3 hD0sTTDgbxakubcHVW2X AWLGIryfLKwkSeUZd4O6 h8KYXnua2NT4kTVzieom _fGhMnSfYmaGrv7DvZ00"> <!-- h6ZjYPWLn_mAxjSYNWsM -->
    <div class="EWLTGduHCjFnjN6tLCXV hD0sTTDgbxakubcHVW2X QzGxlDe4W0Kn6V1Dkd6r">
        <h1 class="vyo_A8gnQD1QWDPglr3h yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl NdexIDe6BTJXjtSnppoV OyABRrnTV_kvHV7dJ0uE">Profile</h1>
    </div>
    {% if messages %}
        {% for message in messages %}
        <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
        <p><strong>Referral codes</strong></p>
        <p class="mt-2"><span class="font-medium">Referral code:</span> Give this code to your friends who sign up. If they use your referral code to do so, each of you will receive 100 tokens to use as you please on HoyaBay.</p>
        <p class="flex">
            <span class="font-medium">My referral code:&nbsp;&nbsp;</span> <span class="bg-purple-100 text-purple-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900">
                {{ referral_code }}
                <span class="tooltip">
                    <button onclick="myFunction()" onmouseout="outFunc()">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        <i class="fas fa-copy"></i>
                    </button>
                </span>
            </span>
        </p>
        <p><span class="font-medium">Were you given a referral code?</span> Click <strong><em><a href="{% url 'referral' %}">this link</a></em></strong> to enter the code.</p>
    </div>
    <div class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800" role="alert">
        <p><strong>Credits</strong></p>
        <div class="mt-2" style="display: flex;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
            </svg>
            &nbsp;&nbsp;
            You currently have&nbsp;<span class="font-semibold">{{ credits }} credits</span>&nbsp;to your account.
        </div>
    </div>

    <div class="form-content">
        <div class="NM7Z1HBVjN_86WhEcXan">
            <div class="_Ybd3WwuTVljUT4vEaM3 mngKhi_Rv06PF57lblDI mveJTCIb2WII7J4sY22F _wYiJGbRZyFZeCc8y7Sf _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi hD0sTTDgbxakubcHVW2X">
                
                <button type="button" data-modal-toggle="followers-modal" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
                    {{ num_followers }} followers 
                </button>
        
                <button type="button" data-modal-toggle="following-modal" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
                    {{ num_following }} following
                </button>

                {% if follow_requests %}
                <button type="button" data-modal-toggle="follow-requests-modal" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
                    {{ follow_requests|length }} follow requests
                    <span class="inline-flex justify-center items-center ml-2 w-4 h-4 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
                        !
                    </span>                    
                </button>
                {% endif %}

                <button type="button" data-modal-toggle="groups-user-is-following-modal"  class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
                    Groups I follow
                    <span class="inline-flex justify-center items-center ml-2 w-4 h-4 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
                    {{ num_groups_that_user_is_following }}
                    </span>
                </button>

                <div class="py-2"></div>
                <h3 class="hD0sTTDgbxakubcHVW2X vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj OyABRrnTV_kvHV7dJ0uE">Groups that I'm a member of</h3>
                {% if group_member_data|length > 0 %}
                    <ul class="space-y-1 max-w-md list-disc list-inside text-gray-500 dark:text-gray-400">
                        {% for group_name, group_id in group_member_data.items %}
                        <li><a href="{% url 'group_detail' group_id %}">{{ group_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    I am not a member of any groups yet.
                {% endif %}

                <div class="py-2"></div>
                <h3 class="hD0sTTDgbxakubcHVW2X vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj OyABRrnTV_kvHV7dJ0uE">Groups that I created</h3>
                {% if group_creator_data|length > 0 %}
                    <ul class="space-y-1 max-w-md list-disc list-inside text-gray-500 dark:text-gray-400">
                        {% for group_name, group_id in group_creator_data.items %}
                        <li><a href="{% url 'group_detail' group_id %}">{{ group_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    I have not created any groups yet.
                {% endif %}

            </div>
        </div>
    </div>

    <div class="form-content">
        <div class="NM7Z1HBVjN_86WhEcXan">
            <div class="_Ybd3WwuTVljUT4vEaM3 mngKhi_Rv06PF57lblDI mveJTCIb2WII7J4sY22F _wYiJGbRZyFZeCc8y7Sf _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi hD0sTTDgbxakubcHVW2X">
                <h3 class="hD0sTTDgbxakubcHVW2X vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj OyABRrnTV_kvHV7dJ0uE">{{ header }}</h3>
                <form method="POST">
                    {% csrf_token %}{{ form|crispy }}
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                    <div class="_P4crYcwEj3d10LO5o8N sm:col-full">
                        <button id="submit-form-button" class="y6GKdvUrd7vp_pxsFb57 g40_g3BQzYCOX5eZADgY YoPCmQ0E_V5W0GGmSIdm _dylIDxYTN3qgvD4U597 KmgKPWh7pHX4ztLneO0T ezMFUVl744lvw6ht0lFe mveJTCIb2WII7J4sY22F c8dCx6gnV43hTOLV6ks5 ZjWEEmDsdPvU2GdH53LK cexDVMRjens2nRrMcG96 ijrOHNoSVGATsWYKl4Id d8_fVOcgDmbt7UdpfeLK WuKugQzwTT7o1wwBck2R _ZsTMX_gz275093orLWM" type="submit">Save all</button>
                    </div>
                </form>

                <script>
                    labels = document.getElementsByTagName("label");
                    console.log(labels);
                    console.log(labels.length);
                    for (let i = 0; i <= labels.length; i++) {
                        labels[i].style.color = "#9daab6";
                    } 
                </script>

                <script>
                    groups = document.querySelectorAll(".form-group");
                    for (let i = 0; i <= groups.length; i++) {
                        groups[i].classList.add("mt-2rem");
                        groups[i].classList.add("mb-2rem");
                    } 
                </script>

                <script>

                    

                    const currentDiv = document.getElementById("submit-form-button");

                    els = document.querySelectorAll(".form-control");
                    for (let i = 0; i <= els.length; i++) {
                        class_names = ['mb-4', 'pb-4', 'fzhbbDQ686T8arwvi_bJ', 'jtAJHOc7mn7b4IKRO59D', 'pXhVRBC8yaUNllmIWxln', 'vpDN1VEJLu5FmLkr5WCk', '__9sbu0yrzdhGIkLWNXl', 'gx_pYWtAG2cJIqhquLbx', 'mveJTCIb2WII7J4sY22F', 'GdTcGtoKP5_bET3syLDl', 'LceKfSImrGKQrtDGkpBV', '_Vb9igHms0hI1PQcvp_S', 't6gkcSf0Bt4MLItXvDJ_', 'olxDi3yL6f0gpdsOFDhx', 'jqg6J89cvxmDiFpnV56r', 'Mmx5lX7HVdrWCgh3EpTP', 'H7KQDhgKsqZaTUouEUQL', 'OyABRrnTV_kvHV7dJ0uE', 'KpCMWe32PQyrSFbZVput', 'q6szSHqGtBufkToFe_s5'];
                        for (class_name of class_names) {
                            els[i].classList.add(class_name);
                        }

                    } 

                    

                </script>

            </div>
        </div>
    </div>

</div>



<!-- Followers modal -->
<div id="followers-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="followers-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal header -->
            <div class="py-4 px-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                    {{ request.user.username }} is followed by
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 modal-body">

                <ul class="my-4 space-y-3">

                    {% for member in list_of_followers %}

                        <li>
                            <a href="{% url 'user_profile' member.follower_of_user.username %}" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">{{ member.follower_of_user.username }}</span>
                            </a>
                        </li>

                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Following modal -->
<div id="following-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="following-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal header -->
            <div class="py-4 px-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                    {{ request.user.username }} is following
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 modal-body">

                <ul class="my-4 space-y-3">

                    {% for member in users_that_user_with_profile_being_viewed_is_following %}

                        <li>
                            <a href="{% url 'user_profile' member.user_being_followed.username %}" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">{{ member.user_being_followed.username }}</span>
                            </a>
                        </li>

                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Follow requests modal -->
<div id="follow-requests-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="follow-requests-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal header -->
            <div class="py-4 px-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                    Follow requests
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 modal-body">

                <ul class="my-4 space-y-3">

                    {% for follow_request in follow_requests %}

                        <li>
                            <div class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <span class="flex-1 ml-3 whitespace-nowrap">{{ follow_request.user_requesting_to_follow }}</span>

                                <a href="{% url 'accept_follow_request' follow_request.user_requesting_to_follow request.user %}" class="bg-gray-100 text-gray-800 text-sm font-semibold inline-flex items-center p-1.5 rounded-full mr-2 dark:bg-gray-700 dark:text-gray-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                    </svg>
                                </a>

                                <div class="px-1"></div>

                                <a href="{% url 'withdraw_follow_request' follow_request.user_requesting_to_follow request.user %}" class="bg-gray-100 text-gray-800 text-sm font-semibold inline-flex items-center p-1.5 rounded-full mr-2 dark:bg-gray-700 dark:text-gray-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </a>

                            </div>
                        </li>

                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Groups user is following modal -->
<div id="groups-user-is-following-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="groups-user-is-following-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal header -->
            <div class="py-4 px-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                    {{ request.user.username }} is following
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 modal-body">

                <ul class="my-4 space-y-3">

                    {% for group_name, group_id in group_follows_data.items %}

                        <li>
                            <a href="{% url 'group_detail' group_id %}" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">{{ group_name }}</span>
                            </a>
                        </li>

                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>



{% endblock main %}


{% block JavaScript %}
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>

    window.onload = function() {
        var newNode = document.createElement('div');
        newNode.id = 'quill_editor'; // editor-container
        var newInputNode = document.createElement('div');
        newInputNode.setAttribute("type", "hidden");
        newInputNode.setAttribute("name", "description");
        newInputNode.id = 'quill_descr';


        // Get the reference node
        var referenceNode = document.querySelector('#id_description.textarea.form-control'); // Description textarea

        // Insert the new node before the reference node
        referenceNode.after(newNode); 

        newNode.after(newInputNode);


        
        let toolbarOptions = [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['link', 'image'],
        ['blockquote', 'code-block'],
        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent                                       // remove formatting button
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],
        ];

    let quill = new Quill('#quill_editor', {
    modules: {
      toolbar: toolbarOptions
    },
    placeholder: 'Compose an epic...',
    theme: 'snow'
    });
  
    txt = document.getElementById("id_description").value;
    console.log(txt);
    document.getElementById("id_description").style.display = 'none';
    document.querySelector(".ql-editor").innerHTML = txt;

    btn = document.getElementById("submit-form-button");
    btn.addEventListener('mouseover', (event) => {
        console.log(quill.root.innerHTML);
        let descr = document.querySelector('#id_description[name=description]');
        descr.value = quill.root.innerHTML;
    });
  




    };

</script>

<script>
    function myFunction() {
      navigator.clipboard.writeText("{{ referral_code|safe }}");
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copied: " + "{{ referral_code|safe }}";
    }
    
    function outFunc() {
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copy to clipboard";
    }
</script>


{% endblock JavaScript %}




