{% extends  'market/dashboard/dashboard_base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
{{ user_with_profile_being_viewed }}'s profile 
{% endblock title %}

{% block external_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock external_css %}

{% block main %}


<style>
    .checked {
      color: orange;
    }
</style>


<div class="xCPtuxM4_gihvpPwv9bX Nu4HUn5EQpnNJ1itNkrd RZmKBZs1E1eXw8vkE6jY mlwbuv_bMkMhzTA3msA3 hD0sTTDgbxakubcHVW2X AWLGIryfLKwkSeUZd4O6 h8KYXnua2NT4kTVzieom _fGhMnSfYmaGrv7DvZ00"> <!-- h6ZjYPWLn_mAxjSYNWsM -->
    <div class="EWLTGduHCjFnjN6tLCXV hD0sTTDgbxakubcHVW2X QzGxlDe4W0Kn6V1Dkd6r">
        <h1 class="vyo_A8gnQD1QWDPglr3h yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl NdexIDe6BTJXjtSnppoV OyABRrnTV_kvHV7dJ0uE">{{ user_with_profile_being_viewed }}'s profile </h1>
    </div>
    <div class="_wYiJGbRZyFZeCc8y7Sf _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi">

        {% if profile_of_user.has_super_status %}
        <div style="display: flex;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#198754" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
            &nbsp;&nbsp;
            <span class="mb-2 text-sm font-semibold text-gray-400 dark:text-white">Superuser</span>
        </div>
        {% endif %}

        {% if profile_of_user.verified_creator %}
        <div style="display: flex;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#4c0bce" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
            </svg>
            &nbsp;&nbsp;
            <span class="mb-2 text-sm font-semibold text-gray-400 dark:text-white">Verified creator</span>
        </div>
        {% endif %}


      <!-- Card Title -->
      <div class="YRrCJSr_j5nopfm4duUc sJNGKHxFYdN5Nzml5J2j Q_jg_EPdNf9eDMn1mLI2 hD0sTTDgbxakubcHVW2X">
        <h1 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">@{{ user_with_profile_being_viewed }}</h1>
      </div>

        {% if profile_of_user.description %}
        <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
        <div class="flex flex-col py-1 dark:text-white mb-2">
            <dt class="mb-1 text-gray-500 md:text-lgyM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Description</dt>
            <dd class="text-lg font-semiboldy M_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">{{ profile_of_user.description|safe }}</dd>
        </div>
        </dl>
        {% endif %}

        {% if user_with_profile_being_viewed != logged_in_user %}

            {% if profile_of_user.visibility == "Public" %}
            <form action="{% url 'followers_count' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user_with_profile_being_viewed }}" readonly/>
                <input type="hidden" name="follower" value="{{ logged_in_user }}" readonly/>

                {% if logged_in_user_follows_user_with_profile_being_viewed %} 
                <input type="hidden" name="value" value="unfollow" readonly/>
                <button type="submit" id="unfollow-button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Unfollow</button>
                {% else %}
                <input type="hidden" name="value" value="follow" readonly/>
                <button type="submit" id="follow-button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Follow</button>  
                {% endif %}
            </form>
            {% endif %}
            {% if profile_of_user.visibility != "Public" %}
                {% if logged_in_user_follows_user_with_profile_being_viewed %} <!-- IF ALREADY FOLLOWS USER -->
                <form action="{% url 'followers_count' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user_with_profile_being_viewed }}" readonly/>
                    <input type="hidden" name="follower" value="{{ logged_in_user }}" readonly/>
                    <input type="hidden" name="value" value="unfollow" readonly/>
                    <button type="submit" id="unfollow-button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Unfollow</button>
                </form>
                {% else %}
                    {% if logged_in_user_has_sent_follow_request %}
                        <a href="{% url 'withdraw_follow_request' logged_in_user user_with_profile_being_viewed %}" type="button" id="unfollow-button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Withdraw follow request</a>
                    {% else %}
                        <a href="{% url 'follow_request' logged_in_user user_with_profile_being_viewed %}" type="button" id="follow-button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Request to follow</a>  
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endif %}

        <br>

        <button 
        {% if profile_of_user.visibility == "Private" and not logged_in_user_follows_user_with_profile_being_viewed and user_with_profile_being_viewed != logged_in_user %}disabled{% endif %} 
        type="button" data-modal-toggle="followers-modal" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
            {{ num_followers }} followers 
        </button>

        <button 
        {% if profile_of_user.visibility == "Private" and not logged_in_user_follows_user_with_profile_being_viewed and user_with_profile_being_viewed != logged_in_user %}disabled{% endif %} 
        type="button" data-modal-toggle="following-modal" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
            {{ num_following }} following
        </button>

        <button 
        {% if profile_of_user.visibility == "Private" and not logged_in_user_follows_user_with_profile_being_viewed and user_with_profile_being_viewed != logged_in_user %}disabled{% endif %} 
        type="button" data-modal-toggle="groups-user-is-following-modal"  class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
            Groups {{ user_with_profile_being_viewed }} follows
            <span class="inline-flex justify-center items-center ml-2 w-4 h-4 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
            {{ num_groups_that_user_is_following }}
            </span>
        </button>

        <div class="py-2"></div>

        {% comment %} <p style="color: #6c757d!important;">Rate this seller below:</p> {% endcomment %}

        {% comment %} <form action="" class="rate-form" method="POST" id="{{ user_with_profile_being_viewed.id }}">
            {% csrf_token %}
            <button class="fa fa-star checked" id="first" onmouseover="starStyling(this)" onclick="rateUser(this)"></button>
            <button class="fa fa-star checked" id="second" onmouseover="starStyling(this)"></button>
            <button type="submit" class="fa fa-star checked" id="third" onmouseover="starStyling(this)"></button>
            <button type="submit" class="fa fa-star" id="fourth" onmouseover="starStyling(this)"></button>
            <button type="submit" class="fa fa-star" id="fifth" onmouseover="starStyling(this)"></button>
        </form>
        <div id="confirm-box"></div> {% endcomment %}

        


      

        

        {% if profile_of_user.visibility == "Private" and not logged_in_user_follows_user_with_profile_being_viewed and user_with_profile_being_viewed != logged_in_user %}

            <h3 class="hD0sTTDgbxakubcHVW2X vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj OyABRrnTV_kvHV7dJ0uE"><i class="fas fa-lock"></i> This account is private. Follow @{{ user_with_profile_being_viewed }} to view more.</h3>

        {% else %}

            <h3 class="hD0sTTDgbxakubcHVW2X vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj OyABRrnTV_kvHV7dJ0uE">Groups that {{ user_with_profile_being_viewed }} is a member of</h3>
            {% if group_member_data|length > 0 %}
                <ul class="space-y-1 max-w-md list-disc list-inside text-gray-500 dark:text-gray-400">
                    {% for group_name, group_id in group_member_data.items %}
                    <li><a href="{% url 'group_detail' group_id %}">{{ group_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ user_with_profile_being_viewed }} has not created any groups.
            {% endif %}

            <div class="py-2"></div>
            <h3 class="hD0sTTDgbxakubcHVW2X vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj OyABRrnTV_kvHV7dJ0uE">Groups that {{ user_with_profile_being_viewed }} created</h3>
            {% if group_creator_data|length > 0 %}
                <ul class="space-y-1 max-w-md list-disc list-inside text-gray-500 dark:text-gray-400">
                    {% for group_name, group_id in group_creator_data.items %}
                    <li><a href="{% url 'group_detail' group_id %}">{{ group_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ user_with_profile_being_viewed }} is not a member of any groups.
            {% endif %}

        {% endif %} 

    </div>


    

</div>

<div class="xCPtuxM4_gihvpPwv9bX Nu4HUn5EQpnNJ1itNkrd RZmKBZs1E1eXw8vkE6jY mlwbuv_bMkMhzTA3msA3 hD0sTTDgbxakubcHVW2X AWLGIryfLKwkSeUZd4O6 h8KYXnua2NT4kTVzieom _fGhMnSfYmaGrv7DvZ00"> <!-- h6ZjYPWLn_mAxjSYNWsM -->
    <div class="_wYiJGbRZyFZeCc8y7Sf _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi">

        <div class="YRrCJSr_j5nopfm4duUc sJNGKHxFYdN5Nzml5J2j Q_jg_EPdNf9eDMn1mLI2 hD0sTTDgbxakubcHVW2X">
            <h1 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">@{{ user_with_profile_being_viewed }}</h1>
        </div>

        <div class="mt-4 pt-4">
            <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {% if numSalesByUser == 0 %}
                This user has not sold anything yet.
                {% else %}
                This user has {{ numSalesByUser }} sales.
                {% endif %}
            </p>
            <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {% if overall_rating == "4.0" %}hi{% endif %}
                {% if user_has_been_rated and overall_rating %}
                    This seller's overall rating: <span id="overall-rating">{{ overall_rating|floatformat:1 }}</span>/5
                {% else %}
                    This seller hasn't yet been rated.
                {% endif %}
            </p>
            {% if logged_in_user_has_bought_from_user_with_profile_being_viewed %}
            <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {% if logged_in_user_has_rated and rating %}
                    Your rating of this seller: <span id="my-rating">{{ rating|floatformat:1 }}</span>/5
                {% else %}
                    You haven't yet rated this seller.
                {% endif %}
            </p>
            <label for="rating" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rate your experience with this seller below:</label>
            <select id="rating" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4">
                <option disabled selected>Select a rating</option>
                <option value="5" id="5">5: Excellent</option>
                <option value="4" id="4">4: Very good</option>
                <option value="3" id="3">3: OK</option>
                <option value="2" id="2">2: Poor</option>
                <option value="1" id="1">1: Very bad</option>
            </select>
            {% endif %}
        </div>

    </div>
</div>












<!-- followers modal -->
<div id="followers-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="followers-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal header -->
            <div class="py-4 px-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                    {{ user_with_profile_being_viewed }} is followed by
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 modal-body">

                <ul class="my-4 space-y-3">

                    {% for member in list_of_followers %}

                        <li>
                            <a href="{% url 'user_profile' member.follower_of_user.username %}" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">{{ member.follower_of_user.username }}</span>
                            </a>
                        </li>

                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>

<!-- following modal -->
<div id="following-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="following-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal header -->
            <div class="py-4 px-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                    {{ user_with_profile_being_viewed }} is following
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 modal-body">

                <ul class="my-4 space-y-3">

                    {% for member in users_that_user_with_profile_being_viewed_is_following %}

                        <li>
                            <a href="{% url 'user_profile' member.user_being_followed.username %}" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">{{ member.user_being_followed.username }}</span>
                            </a>
                        </li>

                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Groups user is following modal -->
<div id="groups-user-is-following-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="groups-user-is-following-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal header -->
            <div class="py-4 px-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                    {{ user_with_profile_being_viewed }} is following
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 modal-body">

                <ul class="my-4 space-y-3">

                    {% for group_name, group_id in group_follows_data.items %}

                        <li>
                            <a href="{% url 'group_detail' group_id %}" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">{{ group_name }}</span>
                            </a>
                        </li>

                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    let currentRating = "{{ rating|safe }}";

    let one = document.getElementById("1-star");
    let two = document.getElementById("2-star");
    let three = document.getElementById("3-star");
    let four = document.getElementById("4-star");
    let five = document.getElementById("5-star");

    function handleStarSelect(size) {
        const children = [one, two, three, four, five];
        for (let i = 0; i < children.length; i++) {
            if (i <= size) {
                children[i].classList.add("checked");
            } else {
                children[i].classList.remove("checked");
            }
        }
    }

    switch(currentRating) {
        case "1.0":
            document.getElementById("1").selected = true;
            break;
        case "2.0":
            document.getElementById("2").selected = true;
            break;
        case "3.0":
            document.getElementById("3").selected = true;
            break;
        case "4.0":
            document.getElementById("4").selected = true;
            break;
        case "5.0":
            document.getElementById("5").selected = true;
            break;
    }

    selectEl = document.getElementById("rating");
    user_with_profile_being_viewed = "{{ user_with_profile_being_viewed|safe }}";
    selectEl.addEventListener("change", (e) => {
        $.ajax({
            url: `/profile/${user_with_profile_being_viewed}/`,
            type: 'get',
            dataType: 'json',
            data: {
                rating: selectEl.value,
            },
            error: function(response) {
                console.log(response);
            },
            success: function(response) {
                document.getElementById("overall-rating").innerHTML = response.overall_rating; 
                document.getElementById("my-rating").innerHTML = response.rating;
            }
        });
    });
</script>

{% comment %} <script>

    const one = document.getElementById("first");
    const two = document.getElementById("second");
    const three = document.getElementById("third");
    const four = document.getElementById("fourth");
    const five = document.getElementById("fifth");

    // one.style.color = "#FFA41C";

    /* 
    function reset() {
        one.classList.remove("checked");
        two.classList.remove("checked");
        three.classList.remove("checked");
        four.classList.remove("checked");
        five.classList.remove("checked");
    }
    */

    const form = document.querySelector(".rate-form");
    const confirmBox = document.getElementById("confirm-box");
    const csrf = document.getElementsByName("csrfmiddlewaretoken");
    console.log(csrf);


    function handleStarSelect(size) {
        const children = form.children;
        for (let i = 0; i < children.length; i++) {
            if (i <= size) {
                children[i].classList.add("checked");
            } else {
                children[i].classList.remove("checked");
            }
        }
    }
    

    function starStyling(rating) {
        // console.log(rating.id);
        //reset();
        let a = document.getElementById("first");
        let b = document.getElementById("second");
        let c = document.getElementById("third");
        let d = document.getElementById("fourth");
        let e = document.getElementById("fifth");
        switch(rating.id.trim()) {
            case 'first':
                handleStarSelect(1);
                break;
            case 'second':
                handleStarSelect(2);
                break;
            case 'third':
                handleStarSelect(3);
                break;
            case 'fourth':
                handleStarSelect(4);
                break;
            case 'fifth':
                handleStarSelect(5);
                break;
            default:
                console.log("Working.");
        }

    }

    let i1 = document.getElementById("first");
    let i2 = document.getElementById("second");
    let i3 = document.getElementById("third");
    let i4 = document.getElementById("fourth");
    let i5 = document.getElementById("fifth");
    arr = [i1, i2, i3, i4, i5];
    i1.addEventListener('click', (event) => {
        alert('x');
    });



    
</script> {% endcomment %}

{% comment %} <script>
    function rateUser(rating) {
        let f1 = document.getElementById("first");
        let f2 = document.getElementById("second");
        let f3 = document.getElementById("third");
        let f4 = document.getElementById("fourth");
        let f5 = document.getElementById("fifth");
        alert('fjlhwe');
        let val = rating.id.trim();
        form.addEventListener('submit', e => {
            e.preventDefault();
            const id = e.target.id;
            alert(id);
        }); 
    }
</script> {% endcomment %}

{% endblock main %}

