{% extends "ecoles/base_ecoles.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile | {{ user_with_profile_being_viewed }} | Profile{% endblock title %}

{% block main_content_container %}


    
<main class="">

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-12">

        <div class="p-5 mb-4 bg-light rounded-3 bg-lin-grad">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Ca' de Bruno</h1>
            <p class="col-md-8 fs-4">{{ user_with_profile_being_viewed }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

{% endblock main_content_container %}