{% extends 'market/dashboard/dashboard_base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
Ad Purchase
{% endblock title %}

{% block main %}

<div class="xCPtuxM4_gihvpPwv9bX Nu4HUn5EQpnNJ1itNkrd RZmKBZs1E1eXw8vkE6jY mlwbuv_bMkMhzTA3msA3 hD0sTTDgbxakubcHVW2X AWLGIryfLKwkSeUZd4O6 h8KYXnua2NT4kTVzieom _fGhMnSfYmaGrv7DvZ00"> <!-- h6ZjYPWLn_mAxjSYNWsM -->
    <div class="EWLTGduHCjFnjN6tLCXV hD0sTTDgbxakubcHVW2X QzGxlDe4W0Kn6V1Dkd6r">
        <h1 class="vyo_A8gnQD1QWDPglr3h yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl NdexIDe6BTJXjtSnppoV OyABRrnTV_kvHV7dJ0uE">Ad Purchase</h1>
    </div>
    <div class="_wYiJGbRZyFZeCc8y7Sf _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi">
        
        <div class="YRrCJSr_j5nopfm4duUc sJNGKHxFYdN5Nzml5J2j Q_jg_EPdNf9eDMn1mLI2 hD0sTTDgbxakubcHVW2X">
            <h1 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Metrics</h1>
        </div>

        <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
            <div class="flex flex-col pb-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Current metrics</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    Clicks: {{ item.clicks }} (out of {{ item.offer.required_clicks }} required)
                </dd>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    Impressions: {{ item.impressions }} (out of {{ item.offer.required_ad_impressions }} required)
                </dd>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    Unique impressions: {{ item.unique_impressions.count }} (out of {{ item.offer.required_unique_ad_impressions }} required)
                </dd>
            </div>
        </dl>

        <div class="YRrCJSr_j5nopfm4duUc sJNGKHxFYdN5Nzml5J2j Q_jg_EPdNf9eDMn1mLI2 hD0sTTDgbxakubcHVW2X">
            <h1 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Offer</h1>
        </div>

        <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
            <div class="flex flex-col pb-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Details</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    Required clicks: {{ item.offer.required_clicks }}
                </dd>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    Required impressions: {{ item.offer.required_ad_impressions }}
                </dd>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    Required unique impressions: {{ item.offer.required_unique_ad_impressions }}
                </dd>
            </div>

            <div class="flex flex-col pt-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lgyM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Total price</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">${{ item.offer.price|floatformat:2 }}</dd>
            </div>

            <div class="flex flex-col pb-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Key metric</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    {{ item.offer.metric }}
                </dd>
            </div>
            <div class="flex flex-col pb-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Title</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    {{ item.offer.title }}
                </dd>
            </div>
            <div class="flex flex-col pb-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Description</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    {{ item.offer.description }}
                </dd>
            </div>
        </dl>

        <div class="YRrCJSr_j5nopfm4duUc sJNGKHxFYdN5Nzml5J2j Q_jg_EPdNf9eDMn1mLI2 hD0sTTDgbxakubcHVW2X">
            <h1 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Ad Purchase #{{ item.id }}</h1>
        </div>
        <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">

            <div class="flex flex-col pb-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Date purchased</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    {{ item.date_created }}
                </dd>
            </div>

            <div class="flex flex-col pb-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Advertising Type</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    {{ item.advertisement_type }}
                </dd>
            </div>

            <div class="flex flex-col pb-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lg yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Link to item</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">
                    {% if item.advertisement_type.lower == 'listing' %}
                        <a href="{% url 'listing' item.listing_to_be_advertised %}">{{ item.listing_to_be_advertised.title }} (#{{ item.listing_to_be_advertised.title }})</a>
                    {% elif item.advertisement_type.lower == 'course' %}
                        <a href="{% url 'course_detail' item.course_to_be_advertised %}">{{ item.course_to_be_advertised.title }} (#{{ item.course_to_be_advertised.title }})</a>
                    {% elif item.advertisement_type.lower == 'specialization' %}
                        <a href="{% url 'specialization_detail' item.specialization_to_be_advertised %}">{{ item.specialization_to_be_advertised.title }} (#{{ item.specialization_to_be_advertised.id }})</a>
                    {% elif item.advertisement_type.lower == 'post' %}
                        <a href="{% url 'post_detail' item.post_to_be_advertised %}">{{ item.post_to_be_advertised.title }} (#{{ item.post_to_be_advertised.title }})</a>
                    {% else %}
                        N/A (General Advertisement)
                    {% endif %}
                </dd>
            </div>

            <div class="flex flex-col py-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lgyM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Purchaser</dt>
                <dd class="text-lg font-semiboldy M_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">{{ item.user_that_purchased_ad }}</dd>
            </div>
            <div class="flex flex-col pt-3 dark:text-white mb-2rem">
                <dt class="mb-1 text-gray-500 md:text-lgyM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE" style="color: #9CA3AF;">Group</dt>
                <dd class="text-lg font-semibold yM_AorRf2jSON3pDsdrz OyABRrnTV_kvHV7dJ0uE">{{ item.group_that_purchased_ad }}</dd>
            </div>

        </dl>

    </div>
</div>



{% endblock main %}




