{% extends 'base/base_search.html' %}
{% load humanize %}


{% block title %}{{ title }}{% endblock title %}


{% block main_container %}

<div class="container">

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">{{ transaction.description }}</h1>
            <p class="fs-4 col-md-6 offset-md-3">{{ type.capitalize }}</p>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 mb-4">
            <div class="card card-height-300 overflow-y-scroll">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><small><strong>Entity 1:</strong> {{ transaction.entity_1 }}</small></li>
                        <li class="list-group-item"><small>Type of asset received: {{ transaction.type_of_asset_received_by_entity_1 }}</small></li>
                        <li class="list-group-item"><small>Description of asset received: {{ transaction.description_of_asset_received_by_entity_1 }}</small></li>
                        <li class="list-group-item"><small>Monetary value of asset received: {{ transaction.monetary_value_of_asset_received_by_entity_1|intcomma }} {% if transaction.monetary_value_of_asset_received_by_entity_1.is_estimated %}(estimated){% endif %}</small></li>
                        <li class="list-group-item"><small>Currency of asset received: {% if transaction.currency_of_asset_received_by_entity_1_if_applicable %}{{ transaction.currency_of_asset_received_by_entity_1_if_applicable }}{% else %}Not applicable.{% endif %}</small></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card card-height-300 overflow-y-scroll">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><small><strong>Entity 2:</strong> {{ transaction.entity_2 }}</small></li>
                        <li class="list-group-item"><small>Type of asset received: {{ transaction.type_of_asset_received_by_entity_2 }}</small></li>
                        <li class="list-group-item"><small>Description of asset received: {{ transaction.description_of_asset_received_by_entity_2 }}</small></li>
                        <li class="list-group-item"><small>Monetary value of asset received: {{ transaction.monetary_value_of_asset_received_by_entity_2|intcomma }} {% if transaction.monetary_value_of_asset_received_by_entity_2_is_estimated %}(estimated){% endif %}</small></li>
                        <li class="list-group-item"><small>Currency of asset received: {% if transaction.currency_of_asset_received_by_entity_2_if_applicable %}{{ transaction.currency_of_asset_received_by_entity_2_if_applicable }}{% else %}Not applicable.{% endif %}</small></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card card-height-300 overflow-y-scroll">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><small><strong>General info</strong></small></li>
                        <li class="list-group-item"><small>Description: {{ transaction.description }}</small></li>
                        <li class="list-group-item"><small>Crime: {% if transaction.crime %}Yes{% else %}No{% endif %}</small></li>
                        <li class="list-group-item"><small>Transaction date: {{ transaction.transaction_date }}</small></li>
                        <li class="list-group-item"><small>Known entities involved: {% if transaction.entities.all %}{% for entity in transaction.entities.all %}<span class="badge bg-primary rounded-pill"><a href="#" class="text-white no-text-decoration">{{ entity }}</a></span>&nbsp;{% endfor %}{% else %}<span class="text-muted">None</span>{% endif %}</small></li>
                        <li class="list-group-item"><small>Themes: {% if transaction.themes.all %}{% for theme in transaction.themes.all %}<span class="badge bg-primary rounded-pill"><a href="#" class="text-white no-text-decoration">{{ theme }}</a></span>&nbsp;{% endfor %}{% else %}<span class="text-muted">None</span>{% endif %}</small></li>
                        <li class="list-group-item"><small>Eras: {% if transaction.eras.all %}{% for era in transaction.eras.all %}<span class="badge bg-primary rounded-pill"><a href="#" class="text-white no-text-decoration">{{ era }}</a></span>&nbsp;{% endfor %}{% else %}<span class="text-muted">None</span>{% endif %}</small></li>
                        <li class="list-group-item"><small>Author: {{ transaction.author }}</small></li>
                        <li class="list-group-item"><small>Date added to Scampia: {{ transaction.date_entered }}</small></li>
                        <li class="list-group-item"><small>Citation: {{ transaction.citation }}</small></li>
                    </ul>
                </div>
            </div>
        </div>

          

    </div>

    <div class="row"></div>

</div>

{% endblock main_container %}