{% extends 'ecoles/base_ecoles.html' %}
{% load static %}

{% block title %}{{ item.title }} | Submodule | Ca' de Bruno{% endblock title %}

{% block main_content_container %}



                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            
                            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'module_detail' course.id module.id %}">{{ module.title }}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
                                </ol>
                            </nav>

                            <h1 class="fw-bold">{{ item.title }}</h1>

                            {% if user_is_creator or allowed_to_edit %}
                            <a class="btn btn-lg btn-info mb-2" href="{% url 'submodule_update' course.id module.id item.id %}" role="button"><i class="fas fa-edit"></i> Edit submodule</a>
                            {% endif %}
                            {% if user_is_creator %}
                            <a class="btn btn-lg btn-danger mb-2" href="{% url 'submodule_delete' course.id module.id item.id %}" role="button"><i class="fas fa-minus-circle"></i> Delete submodule</a>
                            {% endif %}

                            <a class="btn btn-lg btn-primary mb-2" href="{% url 'course_detail' course.id %}" role="button">View course &rarr;</a>
                        </div>
                    </div> 
                </div>




                {% if user_enrolled or allowed_to_edit or user_is_creator %}

                    
        
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Submodule: <a href="{% url 'submodule_detail' course.id module.id item.id %}" class="text-decoration-none text-muted">{{ item.title }}</a></h5>
                            <hr>
                            <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                            <p class="card-text">{{ item.description|safe }}</p>
                            <hr>
                        {% if assignments %}
                            {% for assignment in assignments %}
                                <p>
                                    {% if user in assignment.completed.all %}
                                        <i class="fas fa-check-circle icon-color-green mr-2"></i>
                                    {% else %}
                                        <i class="fas fa-circle mr-2"></i>
                                    {% endif %}
                                    <a href="{% url 'assignment_detail' course.id module.id submodule.id assignment.id %}" class="text-muted text-decoration-none">{{ assignment.title }}</a>
                                </p>                                       
                            {% endfor %}
                            
                        {% else %}
                            <div class="media">
                                <div class="card mb-4" style="background: transparent;">
                                    <div class="card-body"> 
                                        <h5 class="card-title">No assignments available.</h5>
                                    </div>
                                </div>
                            </div> 
                        {% endif %}
        
                        </div>
                    </div>
        
        
        
        
        
            {% else %}

            <div class="text-center mt-4"><h3 style="font-weight: 800;">Enroll in this course to view contents.</h3></div>


            {% endif %}




{% endblock main_content_container %}