{% extends 'ecoles/base_ecoles.html' %}
{% load static %}

{% block title %}{{ item.title }} | Module | Hoyabay{% endblock title %}

{% block main_content_container %}



                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            
                            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
                                </ol>
                            </nav>

                            <h1 class="fw-bold">{{ item.title }}</h1>
                            
                            {% if user_is_creator or allowed_to_edit %}
                            <a class="btn btn-lg btn-info mb-2" href="{% url 'module_update' course.id item.id %}" role="button"><i class="fas fa-edit"></i> Edit module</a>
                            {% endif %}
                            {% if user_is_creator %}
                            <a class="btn btn-lg btn-danger mb-2" href="{% url 'module_delete' course.id item.id %}" role="button"><i class="fas fa-minus-circle"></i> Delete module</a>
                            {% endif %}

                            <a class="btn btn-lg btn-primary mb-2" href="{% url 'course_detail' course.id %}" role="button">View course &rarr;</a>
                        </div>
                    </div> 
                </div>




                {% if user_enrolled or allowed_to_edit or user_is_creator %}

                    
        
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Module: {{ item.title }}</h5>
                            <hr>
                            <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                            <p class="card-text">{{ item.description|safe }}</p>
                            <hr>
                        {% if submodules %}
                            {% for submodule in submodules %}
                            <div class="media">
                                <div class="card mb-4" style="background: transparent;">
                                    <div class="card-body"> 
                                        <h5 class="card-title">Submodule {{forloop.counter}}: <a href="{% url 'submodule_detail' course.id item.id submodule.id %}" class="text-decoration-none text-muted">{{ submodule.title }}</a> (<span class="text-dark"><i class="fas fa-clock"></i> {{ submodule.time }} {% if submodule.estimated_hours_to_complete == 1%}hour{%else%}hours{% endif %} to complete</span>)</h5>
                                        <hr>
                                        <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                                        <p class="card-text">{{ submodule.description|safe }}</p>
                                        <hr>
                                    </div>
                                </div>
                            </div> 
                            {% endfor %}
                        {% else %}
                            <div class="media">
                                <div class="card mb-4" style="background: transparent;">
                                    <div class="card-body"> 
                                        <h5 class="card-title">No submodules available.</h5>
                                    </div>
                                </div>
                            </div> 
                        {% endif %}
        
                        </div>
                    </div>
        
        
        
        
        
            {% else %}

            <div class="text-center mt-4"><h3 style="font-weight: 800;">Enroll in this course to view contents.</h3></div>


            {% endif %}




{% endblock main_content_container %}