{% extends 'ecoles/base_ecoles.html' %}
{% load static %}

{% block title %}{{ item.title }} | Info | Ca' de Bruno{% endblock title %}

{% block main_content_container %}



                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            <small class="text-muted">COURSE</small>
                            <h1 class="fw-bold">{{ course.title }}</h1>
                            
                            {% if user_enrolled %}
                            <div class="progress mt-4 mb-4">
                                <div class="progress-bar" role="progressbar" aria-label="Progress bar" style="width: {{pct_completed}}%;" aria-valuenow="{{pct_completed}}" aria-valuemin="0" aria-valuemax="100">{{pct_completed}}%</div>
                            </div>
                            <p class="lead"><i class="fas fa-check-circle"></i> You are enrolled in this course.</p>
                            {% endif %}
                            {% if user_is_creator or allowed_to_edit %}
                            <p class="lead"><i class="fas fa-check-circle"></i> You are allowed to edit this course.</p>
                            {% endif %}
                            {% if user_is_creator %}
                            <p class="lead"><i class="fas fa-check-circle"></i> You are the creator of this course.</p>
                            {% endif %}

                            {% if user_is_creator or allowed_to_edit %}
                            <a class="btn btn-lg btn-info mb-2" href="{% url 'module_update' course.id item.id %}" role="button"><i class="fas fa-edit"></i> Edit module</a>
                            {% endif %}
                            {% if user_is_creator %}
                            <a class="btn btn-lg btn-danger mb-2" href="{% url 'module_delete' course.id item.id %}" role="button"><i class="fas fa-minus-circle"></i> Delete module</a>
                            {% endif %}

                            <a class="btn btn-lg btn-primary mb-2" href="{% url 'course_detail' course.id %}" role="button">View course &rarr;</a>
                        </div>
                    </div> 
                </div>

                <div class="row mb-4">

                    <div class="col-lg-12">


                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Course info</h5>
                                <hr>
                                <div class="media text-muted">
                                    <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                                    <p class="card-text">
                                        {{ course.description|safe }}
                                    </p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


                {% if user_enrolled or allowed_to_edit or user_is_creator %}

                    
        
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Module: {{ item.title }}</h5>
                            <hr>
                            <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                            <p class="card-text">{{ item.description|safe }}</p>
                            <hr>
                        {% if submodules %}
                            {% for submodule in submodules %}
                            <div class="media">
                                <div class="card mb-4" style="background: transparent;">
                                    <div class="card-body"> 
                                        <h5 class="card-title">Submodule {{forloop.counter}}: {{ submodule.title }} (<span class="text-dark"><i class="fas fa-clock"></i> {{ submodule.time }} {% if submodule.estimated_hours_to_complete == 1%}hour{%else%}hours{% endif %} to complete</span>)</h5>
                                        <hr>
                                        <strong class="d-block text-dark mb-2 mt-1">Description</strong>  
                                        <p class="card-text">{{ submodule.description|safe }}</p>
                                        <hr>
                                        <div style="line-height: 2;">
                                            {% comment %} {% for assignment in submodule.assignments %}
                                                    <p class="media-body pb-3 mb-0 small lh-125" style="font-size: 16px;">
                                                        {% if assignment.completed == "True" %}
                                                            <i class="fas fa-check-circle icon-color-green mr-2"></i>
                                                        {% else %}
                                                            <i class="fas fa-circle mr-2"></i>
                                                        {% endif %}
                                                        <a href="{% url 'assignment_detail' course.id module.id submodule.id assignment.id %}" class="text-muted text-decoration-none">{{ assignment.title }}</a>
                                                    </p>
                                            {% endfor %} {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            {% endfor %}
                        {% else %}
                            <div class="media">
                                <div class="card mb-4" style="background: transparent;">
                                    <div class="card-body"> 
                                        <h5 class="card-title">No submodules available.</h5>
                                    </div>
                                </div>
                            </div> 
                        {% endif %}
        
                        </div>
                    </div>
        
        
        
        
        
            {% else %}

            <div class="text-center mt-4"><h3 style="font-weight: 800;">Enroll in this course to view contents.</h3></div>


            {% endif %}




{% endblock main_content_container %}