{% extends 'ecoles/base_functionality.html' %}
{% load static %}

{% block title %}{{ item.title }} | Ca' de Bruno{% endblock title %}

{% block main_content_container %}

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="bg-lin-grad rounded shadow-sm p-5 rounded">
                            <h1 class="fw-bold">{{ item.title }}</h1>
                            <p class="lead">Course: {{ course.title }}</p>
                            <p class="lead">Module: {{ module.title }}</p>
                            <p class="lead">Submodule: {{ submodule.title }}</p>
                        </div>
                    </div> 

                    <div class="row mt-4">

                        {% if item.assignment_type.lower == "text" %}
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                    <div class="card-text">{{ item.text|safe|linebreaks }}</div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if item.assignment_type.lower == "corsican bible chapter" %}
                        <div class="col-md-6">
                            {{ item.corsican_bible_chapter.corsican_lines|safe|linebreaks }}
                        </div>
                        <div class="col-md-6">
                            {{ item.corsican_bible_chapter.french_lines|safe|linebreaks }}
                        </div>
                        {% endif %}

                    </div>

                </div>


{% endblock main_content_container %}